// Main Content //
.main-content{
  width:80%;
  max-width:650px;
  margin:0 auto;
  h1{
    @include text-shadow($one $r-shad $shadow 0px);
    @include transition-property(textshadow);
    @include transition-duration(3s);
    a{
      color:$black;
      &:hover{
        @include text-shadow($two $r-shad $shadow 0px);
      }
    }
  }
  h2{
    line-height:1.1em;
  }
  h3{
    @include breakpoint(baby-bear) {font-size:$reg - .1em; line-height:1.1em;}
    @include breakpoint(mama-bear) {font-size:$reg - .3em; line-height:1.1em;}
  }
  @include breakpoint(mama-bear) {width:90%; h1{font-size:$big + .2em;} h2{font-size:$reg + .2em;}}
  @include breakpoint(baby-bear) {width:100%; h1{font-size:$xl;}}
}

// Nav Buttons //
.nav-button{
  position:fixed;
  top:50%;
  background:$grey;
  background:$grey-op;
  width:100px;
  height:100px;
  padding:16px;
  text-align:center;
  font-style:italic;
  font-size:16px;
  line-height:16px;
  &:hover{
      background:$two;
      a{
        color:$one;
      }
  }
  a{
    text-decoration:none;
    color:$one-op;
    &:hover{
      color:$one;
    }
  }
  @include breakpoint(mama-bear) {
    position:static;
    background:none;
    width:35%;
    height:auto;
    padding:0;
    a{
      text-decoration:underline;
      color:$one;
      &:hover{
        color:$two;
      }
    }
    &:hover{
      background:none;
      color:inherit;
    }
  }
}
.nav-inner{
  display:block;
  height:100%;
  width:100%;
  padding:18px 0;
}
.newer{
  right:0;
  border-radius:50% 0 0 50%;
  @include breakpoint(mama-bear) {
    border-radius:0;
    text-align:left;
    float:left;
  }
}
.older{
  left:0;
  border-radius:0 50% 50% 0;
  @include breakpoint(mama-bear) {
    border-radius:0;
    text-align:right;
    float:right;
  }
}
.page-number{
  display:none;
}