// 01. Basic Body Styles
// 02. Main Wrapper

// 01. Basic Body Styles
// Global
body{
  color:$black;
  font-size:22px;
  font-family:$text;
  font-weight:$book;
  line-height:1.4;
}
//Headings
h1,h2,h3,h4,h5,h6{
  font-weight:$bold;
}
// Links
a{
  background:$grey;
  color:$black;
  text-decoration:none;
  &:hover{
    color:$cream;
    background:$primary;
  }
}
// Selection Colours
@mixin selectionColours{
  color:$cream;
  background:$primary;}
@mixin aSelectionColours{
    color:$primary;
    background:$black;}
::-moz-selection{@include selectionColours;}
::selection{@include selectionColours;}
a::-moz-selection{@include aSelectionColours;}
a::selection{@include aSelectionColours;}

// 02. Main Wrapper
.bodyContent{
  background:$cream;
  margin:5em 3em 3em 3em;
  padding:6em;
  h1{
    position:relative;
    font-size:1.8em;
    line-height:1.2;
    text-align:center;
    a{color:inherit;background:none;}
    padding:0 0 6rem 0;
    &:after{
      position:absolute;
      top:100%;
      left:50%;
      content:"";
      width:40%;
      margin-left:-20%;
      border-top:.1rem solid $black;
    }
    margin:0 0 6rem 0;
  }
  .big-drop-cap{
    font-weight:$book;
    font-style:italic;
    text-transform:uppercase;
    padding-bottom:1em;
  }
  p{
    text-indent:20%;
    .fortyfiveSeventyfive{
      color:red;
    }
    &:after{
      content:"¶";
      padding-left:.2em;
      color:$primary;
    }
  }
}
