// Credits //

/*
*************************
// HTML5 Boilerplate's CSS:
Nicolas Gallagher, Jonathan Neal, Kroc Camen, and the H5BP dev community and team.
http://html5boilerplate.com/
*************************
// CSS Reset:
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*************************
Clearfix:
[micro
clearfix](http://nicolasgallagher.com/micro-clearfix-hack/)
*************************
*/