// 01. Colours
// 02. Media Queries
// 03. Typefaces
// 04. Widths Etc.
// 05. Module Mixins

// 01. Colours
$black:#4d4d4d;
$white:#ffffff;
$cream:#efeeeb;
$grey:#dad8d2;
$primary:#00b7c6;

// 02. Media Queries
@mixin breakpoint($point){
  @if $point == XLsize{
    @media (min-width:1600px){@content;}
  }
  @elseif $point == Lsize{
    @media (min-width:1200px){@content;}
  }
  @elseif $point == Msize{
    @media (max-width:1000px){@content;}
  }
  @elseif $point == Ssize{
    @media (max-width:800px){@content;}
  }
  @elseif $point == XSsize{
    @media (max-width:570px){@content;}
  }
}

// 03. Typefaces
$text: "futura-pt", sans-serif;
$book:400;
$bold:700;
@import "icons";
$icons: "icons";
$code:"droid-sans-mono";

// 04. Widths Etc.
//$emSize:22px;
$contentWidth:28em;

html{
  @include breakpoint(XLsize){font-size:33px;}
  @include breakpoint(Lsize){font-size:26px;}
  font-size:22px;
  @include breakpoint(Msize){font-size:18px;}
  @include breakpoint(Ssize){font-size:16px;}

}

// 05. Module Mixins
@mixin horizontalRule($pos){
  position:absolute;
  @if $pos == top{
    bottom:100%;
  } @else if $pos == bottom{
    top:100%;
  }
  left:50%;
  content:"";
  width:16rem;
  margin-left:-8rem;
  border-top:.1rem solid $black;
  @include breakpoint(XSsize){
    width:5em;
    margin-left:-2.5em;
  }
}
@mixin bigFirstLetter{
  &::first-letter{
    font-size:1.5em;
    color:$primary;
  }
}
