// Colours //
$black: #404040;
$white:#ffffff;
$red: #ff0000;
$blue: #0000ff;
$green: #00ff00;
$grey: #dddddd;
$one:#4d87e2;
$two:#ffbc46;
$three:#ffda46;
$cream:#efefe7;
// Opacities
$grey-op:rgba(221,221,221,.5);
$one-op:rgba(77,135,226,.5);


// Media Query Mixins //
@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (min-width: 1280px) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: 650px) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 350px)  { @content; }
  }
}

// Sizes //
html{
  font-size:14px;
  //@include breakpoint(papa-bear) { font-size: 24px; }
  @include breakpoint(mama-bear) { font-size: 12px; }
  @include breakpoint(baby-bear) { font-size: 10px; }
}
$huge:4em;//64px;
$xl:3em;
$big:2.625em;//42px;
$med:2em;//32px;
$reg:1.5em;//24px;
$small:1em;//16px
$tiny:.8075em;//14px;

// Typefaces, weights, & styles //
$heading: "jubilat", serif;
$body: "ff-meta-serif-web-pro", sans-serif;
@mixin body{
  font-family:$body;
  font-size:$reg;
}
@mixin intro{
  font-size: 24px;
  line-height:1.1em;
  font-weight:600;
  font-style:italic;
}
@mixin heading{
  font-family:$heading;
  font-weight:700;
}
@mixin smallprint{
  font-size:$tiny;
  font-family:$body;
  font-weight:500;
}

h1{
  font-size:$huge;
  @include heading;
  font-style:italic;
  line-height:1em;
  padding-bottom:.8em;
}
h2{
  font-size:$big;
  @include heading;
  padding-bottom:.8em;
}
h3{
  font-size:$med;
  @include body;
  font-style: italic;
  font-weight:bold;
  padding-bottom:.8em;
}

// Misc Vars
$shadow:.04em;
$r-shad:-$shadow;

// Basic Body Styles //
*{
  @include box-sizing(border-box);
}
body{
  @include body;
  background:$cream;
  color:$black;
}
h1 a{
  text-decoration:none;
}
a{
  color:$one;
  font-weight:bold;
  @include transition-property(color);
  @include transition-duration(.3s);
  &:hover{
    color:$two;
  }
}
p{
  padding-bottom:1.5em;
  line-height:1.8em;
}
blockquote{
  padding:5% 10%;
  font-style:italic;
}
footer{
  @include smallprint;
}
pre{
  margin:1em;
  padding: 0 .5em;
  background:$black;
}
code{
  background:$black;
  color:$white;
  font-family:monospace;
}
strong{
  font-style:bold;
}
em{
  font-style:italic;
}