// Header //
// Title
.header{
  padding-bottom:0;
  margin-bottom:2em;
  border-bottom:1px solid $black;
  h2{
    //float:left;
    font-style:italic;
    text-align:center;
    padding-bottom:0;
    //margin-bottom:0;
  }
  a{
    text-decoration:none;
    color:$black;
    &:hover{
      color:$two;
    }
  }
  ul{
    text-align:center;
    font-size:$small;
  }
  li{
    display:inline-block;
    border-right:1px solid $black;
    margin:.8em 0 .5em;
    padding:0 1em;
    //float:right;
    &:last-of-type{
      border-right:none;
    }
  }
}