// Header //
// Title
.header{
  padding-bottom:0;
  margin-bottom:2em;
  border-bottom:1px solid $grey;
  h2{
    //float:left;
    font-style:italic;
    text-align:center;
    padding-bottom:0;
    //margin-bottom:0;
    line-height:1.2em;
    overflow:hidden;
    @include text-shadow($one $r-shad $shadow 0px);
    // @include breakpoint(papa-bear) { line-height: 1em; }
    @include breakpoint(mama-bear) {font-size:$big - .4em;}
    @include breakpoint(baby-bear) { line-height: 1.5em; font-size: 32px; }
    a{
      text-decoration:none;
      color:$black;
      &:hover{
        color:$black;
        @include text-shadow($two $r-shad $shadow 0px);
      }
    }
  }
  a{
    text-decoration:none;
    color:$black;
    &:hover{
      color:$two;
    }
  }
  ul{
    text-align:center;
    font-size:$small;
    @include breakpoint(papa-bear) { font-size: 24px; }
  }
  li{
    display:inline-block;
    border-right:1px solid $grey;
    margin:.8em 0 .5em;
    padding:0 1em;
    //float:right;
    &:last-of-type{
      border-right:none;
    }
    a{
      
    }
  }
}