.header{
  font-size:1.4em;
  position:fixed;
  top:0;
  z-index:5000;
  width:100%;
  min-width:300px;
  background:$black;
  color:$cream;
  font-style:italic;
  line-height:1;
  padding-left:.4em;
  a, nav, ul, li{display:block;}
  a{
    background:none;
    color:$cream;
  }
  transition{}
  // Nav Hide On Sroll
  &.nav-down{
    transform:translateY(0);
    transition-duration:.3s;
  }
  &.nav-up{
    transform:translateY(-2em);
    transition-duration:.3s;
  }
}
.siteName{
  display:block;
  font-size:1em;
  float:left;
  border-left:.4em solid $primary;
  padding:.2em .4em;
  //font-size:1.4em;
}
.tagline{
  float:left;
  text-transform:lowercase;
  padding:.2em;
  @include breakpoint(XSsize){display:none;}
}
.topNav{
  width:15em;
  float:right;
  height:1em;
  .menuTitle{
    float:right;
    text-transform:uppercase;
    padding:.2em .5em;
    color:$primary;
    user-select:none;
    display:block;
    border:none;
    outline:none;
    background:$black;
    font-family:$text;
    font-style:italic;
    height:1.4em;
    font-size:1em;
    line-height:1em;
    //padding:0;
    margin:0;
  }
  li{
    float:right;
    a{
      display:block;
      padding:.2em .5em;
      text-align:center;
      text-transform:lowercase;
      transition-property:background;
      transition-duration:.3s;
      color:$cream;
      &:hover{
        background:$cream;
        color:$black;
      }
    }
    &.active a{
      position:relative;
      background:$primary;
      &:hover{
        color:$cream;
        background:$primary;
      }
      &:before{
        position:absolute;
        top:100%;
        left:50%;
        content:"";
        margin-left:-.3em;
        border-top:.3em solid $primary;
        border-right:.3em solid transparent;
        border-left:.3em solid transparent;
      }
    }
  }
}

// Small Screen Styles
@include breakpoint(Ssize){
  .header{
    //font-size:24px;
    .menuTitle{
      cursor:pointer;
      &:hover{
        background:$primary;
        color:$white;
      }
    }
    .topNav{
      width:4em;
    }
    .topNav ul{
      display:block;
      width:8.3em;
      padding:0 0 0 .3em;
      position:absolute;
      top:100%;
      right:0;
      height:0;
      overflow:hidden;
      transition-property:height;
      transition-duration:.3s;
      &.down{height:4.2em;}
      li{
        width:100%;
        //height:4.2em;
        a{
          background:$black;
          &:hover{background:$cream;}
        }
        &.active a{
          background:$primary;
          &:before{
            position:absolute;
            top:50%;
            left:0;
            content:"";
            margin-left:none;
            margin-top:-.3em;
            border-left:none;
            border-right:.4em solid $primary;
            border-top:.3em solid transparent;
            border-bottom:.3em solid transparent;
          }
        }
      }
    }
  }
}
