// 01. Code
// 02. Related/Featured posts
// 03. Next/Prev links
// 03.1 Small/Touch Next/Prev links
// 04. Dropcap Etc.
// 05. Blog Archive
// 06. Blockquotes

// 01. Code
code{
  font-family:$code;
  padding:0 .4em;
  font-size:.8em;
  color:$cream;
  background:$black;
}
pre{
  margin:1em 0;
  border-top:$grey solid 1rem;
  border-radius:.5rem .5rem 0 0;
  position:relative;
  &:before{
    content:"";
    width:.5rem;
    height:.5rem;
    border-radius:.25rem;
    background:$primary;
    position:absolute;
    top:-.75rem;
    left:.5rem;
  }
  &:after{
    content:"";
    width:.5rem;
    height:.5rem;
    border-radius:.25rem;
    background:$black;
    position:absolute;
    top:-.75rem;
    left:1.25rem;
  }
}
pre code{
  display:block;
  width:100%;
  overflow:auto;
  padding:.5em 1em;
  &:after{
    content:"";
    width:.5rem;
    height:.5rem;
    border-radius:.25rem;
    background:$cream;
    position:absolute;
    top:-.75rem;
    left:2rem;
  }
}

// 02. Related/Featured posts
.archive{
  clear:both;
  li{
    padding:0 0 .4em 1em;
    text-indent:-1em;
  }
}
.featured{
  position:relative;
  margin:3em 0 0 0;
  padding:6em 0 3em 0;
  text-align:center;
  @include bigFirstLetter;
  &:after{
    @include horizontalRule(top);
  }
}
.relatedPostsTitle{
  font-weight:$book;
  font-style:italic;
  text-transform:uppercase;

}
.relatedPostLi{
  font-weight:$bold;
  margin:1em 0 0 0;
}
.popularPosts{
  margin:3em 0;
}

// 03. Next/Prev links
@mixin navButton{
  display:block;
  width:30em;
  font-style:italic;
  font-size:1em;
  font-weight:$bold;
  color:$cream;
  line-height:1;
  position:fixed;
  z-index:2000;
  top:50%;
  margin-top:-3.5em;
  padding:3em 2em;
}
@mixin navButtonDot($mode){
  position:absolute;
  display:block;
  content:"";
  width:.5em;
  height:1em;
  top:3em;
  background:$white;
  @if $mode == prev{
    border-radius:.5em 0 0 .5em;
    right:0;
  } @elseif $mode == next{
    border-radius:0 .5em .5em 0;
    left:0;
  }
}
@mixin navButtonLabel($mode){
  @if $mode == prev{
    content:"Prev.";
    padding:0 1em 0 0;
  } @elseif $mode == next{
    content:"Next";
    padding:0 0 0 1em;
  }
  font-weight:$book;
  text-transform:uppercase;
}
.nav-button-prev{
  @include navButton;
  left:-28.5em;
  text-align:right;
  &:after{@include navButtonDot(prev);}
  &:before{@include navButtonLabel(prev);}
  &:hover{
    transform:translateX(20em);
    &:after{background:$cream;}
  }
}
.nav-button-next{
  @include navButton;
  right:-28.5em;
  &:before{@include navButtonDot(next);}
  &:after{@include navButtonLabel(next);}
  &:hover{
    transform:translateX(-20em);
    &:before{background:$cream;}
  }
}
.nextTitle{
  font-weight:$bold;
  text-transform:capitalize;
  font-size:1rem;
  float:left;
  display:block;
  height:2em;
}

// 03.1 Small/Touch Next/Prev links
@mixin navButtonRWD{
  position:static;
  width:45%;
  padding:1em 0;
  margin:0;
  color:$black;
  text-align:center;
  &:hover{transform:none;}

}
@include breakpoint(XSsize){
  .nav-button-prev{
    @include navButtonRWD;
    float:left;
    &:after{display:none;}
  }
  .nav-button-next{
    @include navButtonRWD;
    float:right;
    &:before{display:none;}
  }
}
.touch{
  .nav-button-prev{
    @include navButtonRWD;
    float:left;
    &:after{display:none;}}
  .nav-button-next{
    @include navButtonRWD;
    float:right;
    &:before{display:none;}}
}

// 04. Dropcap Etc.
.big-drop-cap{
  font-weight:$book;
  font-style:italic;
  text-transform:uppercase;
  padding-bottom:1em;
}
.runIn{
  color:$primary;
  margin-left:-1em;
  // Kerning Table
  &.d,&.g,&.o,&.r{margin-left:-1.5em;}
  &.e,&.f{margin-left:-.7em;}
  &.k,&.n,&.t,&.x,&.z{margin-left:-.5em;}
  &.a,.l,&.q{margin-left:-2em;}
  &.u,&.w{margin-left:0;}
  &.v{margin-left:-.3em;}
  &.y{margin-left:-.2em;}
  @include breakpoint(XSsize){margin-left:0 !important;}// Janky use of !important, but saves writing MQeries for all kerning table
}
.dropcap{
  display:block;
  float:left;
  font-size:12em;
  line-height:.7;
  font-weight:$bold;
  color:$primary;
  text-shadow:.05em .05em 0 $black;
  padding:0 0 .1em 0;
  width:.8em;
  // Kerning Table
  &.a,&.r{width:.75em;}
  &.b,&.p,&.s{width:.7em;}
  &.e,&.f,&.t{width:.65em;}
  &.g,&.n,&.o{width:.9em;}
  &.h{width:.87em;}
  &.i{width:.5em;}
  &.j{width:.57em;}
  &.l{width:.55em;}
  &.m{width:1em;}
  &.q{width:.95em;}
  &.v,&.x{width:.85em;}
  &.w{width:1.15em;}
  @include breakpoint(XSsize){font-size:5em;}
}

// 05. Blog Archive
.archiveItem{
  margin:0 0 2em 0;
}
.archiveItemTitle{
  font-size:1.2em;
  font-weight:$bold;
}
.archiveItemExcerpt{
  display:block;
}

// 06. Blockquotes
blockquote{
  position:relative;
  font-style:italic;
  padding:3em 0;
  margin:3em 2em;
  &:before{@include horizontalRule(top);}
  &:after{@include horizontalRule(bottom);}
  .runIn{text-transform:uppercase;}
}
