/*******************************************
********************************************
Name: Simple Development Page (No WP!)
Author: Tom Hazledine
Author URI: http://thomashazledine.com/
Description: Bare framework for development.
Version: 1.0
********************************************
********************************************

//////////////
// CONTENTS //
//////////////

Utilities
  Compass Imports
  CSS Reset
  Clearfix
  Assistive Text
  H5BP Styles
Global Styles
  Colours
  Typography
  Basic Body Styles
Header
Print Styles
Credits
*/

@import "utilities";
@import "compass/css3";
@import "global";
@import "header";
@import "footer";
@import"print.scss";
@import"credits.scss";