---
layout: default
location: home
---

{% assign first_post = site.posts.first %}

<article class="main-content">
    <h1>{{first_post.title}}</h1>
    <h2>{{first_post.excerpt}}</h2>
    {{first_post.content}}
    
    <nav class="nav-outer clearfix">
      {% if first_post.previous.url %}
        <div class="nav-button older">
          <span class="nav-inner next">
              <a href="{{first_post.previous.url}}">Older Article</a>
          </span>
        </div><!-- .nav-button -->
      {% endif %}

      {% if first_post.next.url %}
        <div class="nav-button newer">
          <span class="nav-inner next"><a href="{{first_post.next.url}}">Newer Article</a></span>
        </div><!-- .nav-button -->  
      {% endif %}
    </nav>
    
    
    {% include archive.html %}
    
</article>