/* line 17, sass/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 27, sass/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, sass/_utilities.scss */
body {
  line-height: 1;
}

/* line 33, sass/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 36, sass/_utilities.scss */
blockquote, q {
  quotes: none;
}

/* line 40, sass/_utilities.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, sass/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 51, sass/_utilities.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 55, sass/_utilities.scss */
.clearfix:after {
  clear: both;
}

/* line 59, sass/_utilities.scss */
.clearfix {
  *zoom: 1;
}

/* line 66, sass/_utilities.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 73, sass/_utilities.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 80, sass/_utilities.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 85, sass/_utilities.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 98, sass/_utilities.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 107, sass/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 112, sass/_utilities.scss */
html, button, input, select, textarea {
  color: #222;
}

/* line 115, sass/_utilities.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 122, sass/_utilities.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 126, sass/_utilities.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 131, sass/_utilities.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 140, sass/_utilities.scss */
img {
  vertical-align: middle;
}

/* line 144, sass/_utilities.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 150, sass/_utilities.scss */
textarea {
  resize: vertical;
}

/* line 154, sass/_utilities.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 14, sass/_global.scss */
html {
  font-size: 14px;
}

/* line 51, sass/_global.scss */
h1 {
  font-size: 4em;
  font-family: "jubilat", serif;
  font-weight: 700;
  font-style: italic;
  line-height: 1em;
  padding-bottom: .8em;
}

/* line 58, sass/_global.scss */
h2 {
  font-size: 2.625em;
  font-family: "jubilat", serif;
  font-weight: 700;
  padding-bottom: .8em;
}

/* line 63, sass/_global.scss */
h3 {
  font-size: 2em;
  font-family: "ff-meta-serif-web-pro", sans-serif;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  padding-bottom: .8em;
}

/* line 70, sass/_global.scss */
body {
  font-family: "ff-meta-serif-web-pro", sans-serif;
  font-size: 1.5em;
  background: #efefe7;
  color: #404040;
}

/* line 75, sass/_global.scss */
h1 a {
  text-decoration: none;
}

/* line 78, sass/_global.scss */
a {
  color: #4d87e2;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 82, sass/_global.scss */
a:hover {
  color: #ffbc46;
}

/* line 86, sass/_global.scss */
p {
  padding-bottom: .8em;
}

/* line 89, sass/_global.scss */
blockquote {
  padding: 5% 10%;
  font-style: italic;
}

/* line 93, sass/_global.scss */
footer {
  font-size: 0.8075em;
  font-family: "ff-meta-serif-web-pro", sans-serif;
  font-weight: 500;
}

/* line 98, sass/_global.scss */
body {
  margin: 1em;
}

/* line 103, sass/_global.scss */
pre {
  margin: 1em;
  padding: 0 .5em;
  background: #404040;
}

/* line 108, sass/_global.scss */
code {
  background: #404040;
  color: white;
  font-family: monospace;
}

/*
body{
  //padding:1em;
  //@include body;
}
h1{
  //font-size:2em;
  border-bottom:.1em solid $black;
  margin-bottom:.5em;
  text-align:center;
}
a{
  border-bottom:.2em solid $black;
  text-decoration:none;
  //color:$black;
  @include transition-property(border, color);
  @include transition-duration(.3s);
  &:hover{
    color:$one;
    border-bottom:.2em solid $one;
  }
}
p{
  //padding-bottom:1em;
  &:nth-of-type(1):first-line{
    @include intro;
  }
}
strong{
  font-style:bold;
}
em{
  font-style:italic;
}
.main-content{
  width:80%;
  margin:0 auto;
}
footer{
  font-size:.8em;
  border-top:1px solid $black;
  padding-top:.5em;
  text-align:center;
}*/
/* line 3, sass/_header.scss */
.header {
  padding-bottom: 0;
  margin-bottom: 2em;
  border-bottom: 1px solid #404040;
}
/* line 7, sass/_header.scss */
.header h2 {
  font-style: italic;
  text-align: center;
  padding-bottom: 0;
}
/* line 14, sass/_header.scss */
.header a {
  text-decoration: none;
  color: #404040;
}
/* line 17, sass/_header.scss */
.header a:hover {
  color: #ffbc46;
}
/* line 21, sass/_header.scss */
.header ul {
  text-align: center;
  font-size: 1em;
}
/* line 25, sass/_header.scss */
.header li {
  display: inline-block;
  border-right: 1px solid #404040;
  margin: .8em 0 .5em;
  padding: 0 1em;
}
/* line 31, sass/_header.scss */
.header li:last-of-type {
  border-right: none;
}

/* line 2, sass/_footer.scss */
footer {
  border-top: 1px solid #404040;
  padding: 3em;
  margin-top: 1em;
  text-align: center;
}

/*******************************************
********************************************
Print Styles
********************************************
*******************************************/
@media print {
  /* line 7, sass/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 13, sass/_print.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 16, sass/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 19, sass/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 23, sass/_print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 26, sass/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 30, sass/_print.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 33, sass/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 36, sass/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 42, sass/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 46, sass/_print.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
