<section class="featured">
  <h3>Popular articles:</h3>
  <ul>
    {% for post in site.posts %}
      {% if post.featured and page.url != post.url %}
      <li class="popularPost">
        <a class="archiveItemTitle" href="{{post.url}}">{{post.title}}</a>
        {% if post.excerptlong %}
          <span class="archiveItemExcerpt">{{post.excerptlong}}</span>
        {% else %}
          <span class="archiveItemExcerpt">{{post.excerpt}}</span>
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
  <a href="/blog">See all articles.</a>
</section><!-- .archive -->
