	<footer>
	  <div class="social clearfix">
	    <div class="github social-box">
	      <a href="https://github.com/eatenbymonsters" title="github">
	        <span class="icon">g</span>
	        <span class="icon-meta"><p>Fork me on Github</p></span>
	      </a>
	    </div><!-- .github -->
    	<div class="twitter social-box">
  	    <a href="https://twitter.com/eatenbymonsters" title="twitter">
    	    <span class="icon">t</span>
    	    <span class="icon-meta"><p>Follow me on Twitter</p></span>
    	  </a>
    	</div><!-- .twitter -->
      <div class="rss social-box">
	      <a href="/feed.xml" title="feed">
	        <span class="icon">r</span>
	        <span class="icon-meta"><p>Subscribe to my feed</p></span>
	      </a>
      </div><!-- .rss -->
	  </div><!-- .social -->
	  <p>I do <a href="/projects">many things</a>.</p>
	</footer>
	
	<div class="scripts">
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <!-- Modernizr -->
    <script src="/js/modernizr.custom.js"></script>

    <script src="/js/main.js"></script>
	</div><!-- .scripts -->
	
</body>
</html>