<footer class="footer">
	<a href="mailto:tom@tomhazledine.com">Let's get to work&hellip;</a>

	  <!-- OLD FOOTER CONTENT:
		div class="footer-inner">

	    <h3>Sign up to my mailing list to get my writing hot-off-the-press and straight into your inbox.</h3>


      <div id="mc_embed_signup">
        <form action="http://eatenbymonsters.us2.list-manage.com/subscribe/post?u=1a730ad6957b6c1ecca3b4bd6&amp;id=a031bfda21" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

          <div class="mc-field-group">
          	<label for="mce-EMAIL">Email Address:</label>
          	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
          	<label for="mce-FNAME">First Name:</label>
          	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
          	<label for="mce-LNAME">Last Name:</label>
          	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
          </div>
          <div id="mce-responses" class="clear">
          	<div class="response" id="mce-error-response" style="display:none"></div>
          	<div class="response" id="mce-success-response" style="display:none"></div>
          </div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
      </div>


	    <div class="social clearfix">
	      <div class="github social-box">
	        <a href="https://github.com/eatenbymonsters" title="github">
	          <span class="icon">g</span>
	          <span class="icon-meta"><p>Fork me on Github</p></span>
	        </a>
	      </div>
      	<div class="twitter social-box">
  	      <a href="https://twitter.com/eatenbymonsters" title="twitter">
      	    <span class="icon">t</span>
      	    <span class="icon-meta"><p>Follow me on Twitter</p></span>
      	  </a>
      	</div>
        <div class="rss social-box">
	        <a href="/feed.xml" title="feed">
	          <span class="icon">r</span>
	          <span class="icon-meta"><p>Subscribe to my RSS feed</p></span>
	        </a>
        </div>
	    </div>
	    <p>I do <a href="/projects">many things</a>.</p>


	  </div-->

	{% include foot.html %}
</footer>
</body>
</html>
