<div class="scripts">
  <!-- Javascript, starting with jQuery -->
  <script src='/js/vendor/jquery-1.9.1.min.js'></script>
  <script src="/js/script.js"></script>
  {% if page.customJs %}
    <script src="{{site.url}}{{ page.customJs }}"></script>
  {% endif %}

  <script src="http://localhost:35729/livereload.js"></script>

  <!-- Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36655973-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</div><!-- .scripts -->

</body>
</html>
