<body>

  <header id="top" class="header clearfix">
    <h2 class="siteName"><a href="/" title="Tom Hazledine homepage" rel="home">Tom Hazledine</a></h2>
    <span class="tagline">Building things for the web</span>
    <nav class="topNav" role="navigation">
      <span class="menuTitle">Menu</span>
      <ul class="clearfix">
        {% assign url = page.url|remove:'index.html' %}
        {% for link in site.navigation %}

          <li {% if url == link.url or page.layout == link.layout %}class="active"{% endif %}>
            <a href="{{ link.url }}">{{ link.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </header><!-- .header -->
  <div class="bodyWrapper">
    <section class="mainContent">
