<body id="top">
    
    <div class="svgInclude hidden">{% include /symbol/svg/sprite.symbol.svg %}</div>

    <header class="header clearfix">
        
        <a class="siteName" href="/" title="Tom Hazledine homepage" rel="home">
            <h2>Tom Hazledine</h2>
        </a>
        
        <button class="mainMenuToggle">
            <span class="visuallyhidden">Menu</span>
            <span class="navicon"></span>
        </button>

    </header>

    <nav class="mainMenuWrapper">
        <ul class="mainMenu clearfix" role="navigation">
            {% assign url = page.url|remove:'index.html' %}
            {% for link in site.navigation %}
                <li {% if url == link.url or page.layout == link.layout %}class="active"{% endif %}>
                    <a href="{{ link.url }}">{{ link.text }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
