<div class="homeGraphWrapper">
    <h2 class="homeGraphTitle">My career aspirations over time&hellip;</h2>
    <div class="homeGraphSelectors">
        <div class="homeGraphSelector checkWrapper">
            <label for="developer" class="visibleLabel selectorTitle">Developer</label>
            <div class="check">
                <input type="checkbox" class="homegraphcheckbox" value="dev" id="developer" name="developer" checked/>
                <label for="developer" class="symLabel"></label>
            </div>
        </div>
        <div class="homeGraphSelector checkWrapper">
            <label for="designer" class="visibleLabel selectorTitle">Designer</label>
            <div class="check">
                <input type="checkbox" class="homegraphcheckbox" value="des" id="designer" name="designer"/>
                <label for="designer" class="symLabel"></label>
            </div>
        </div>
        <div class="homeGraphSelector checkWrapper">
            <label for="musician" class="visibleLabel selectorTitle">Musician</label>
            <div class="check">
                <input type="checkbox" class="homegraphcheckbox" value="mus" id="musician" name="musician"/>
                <label for="musician" class="symLabel"></label>
            </div>
        </div>
        <div class="homeGraphSelector checkWrapper">
            <label for="artist" class="visibleLabel selectorTitle">Artist</label>
            <div class="check">
                <input type="checkbox" class="homegraphcheckbox" value="art" id="artist" name="artist"/>
                <label for="artist" class="symLabel"></label>
            </div>
        </div>
        <div class="homeGraphSelector checkWrapper">
            <label for="pilot" class="visibleLabel selectorTitle">Lego Master Builder</label>
            <div class="check">
                <input type="checkbox" class="homegraphcheckbox" value="pilot" id="pilot" name="pilot"/>
                <label for="pilot" class="symLabel"></label>
            </div>
        </div>
    </div>
    <div class="homeGraph"></div>
</div>