$secondary:$orange;
%buttonReset{
  display:block;
  background:inherit;
  color:inherit;
  border:none;
  cursor:pointer;
  font-size:1em;
  line-height:inherit;
  padding:0;
  margin:0;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  font-family:inherit;
}

// input,textarea{
//     width:100%;
//     max-width:100%;
//     font-size:1em;
//     border:0;
//     padding:1em;
//     margin-bottom:1em;
//     font-family:$text;
// }