%button{
  display:inline-block;
  background:$primary;
  color:$white;
  padding:.5em 1em .3em 1em;
  border-bottom:$black solid .4em;
  font-weight:300;
  line-height:1;
  font-size:.8em;
  text-align:center;
  transition:background,color,box-shadow;
  transition-duration:.2s;
  font-family:$body;
  text-transform:uppercase;
  line-height:1;
  font-style:italic;
  letter-spacing:.1em;
  // box-shadow:
  //   inset $secondary 0 0 0 0,
  //   inset $primary 0 -1.8em 0 0,
  //   ;
  &:hover{
    background:$secondary;
    color:$white;
    // box-shadow:
    //   inset $secondary 0 -1.8em 0 0,
    //   inset $primary 0 -1.8em 0 0,
    //   ;
  }
  &:active{
    color:$black;
  }
  &:focus{
    outline:none;
  }
}

.genericButton{
  @extend %buttonReset;
  @extend %button;
  &.disabled{
    background:$grey;
    box-shadow:none;
    cursor:default;
    &:active{
      color:$white;
    }
  }
}

.utilityButton{
  @extend %buttonReset;
  text-transform:lowercase;//uppercase;
  font-family:$caps;
//  font-style:italic;
  font-size:.8em;
  background:$black;//rgba($black,.15);
  color:$cream;
  line-height:1;
//  margin-top:1em;
  padding:0em 1em .3em 1em;
//  margin:0 auto;
  transition:background,color;
  transition-duration:.2s;
  &:hover{
//    background:rgba($black,.5);
    color:$primary;
  }
  &:focus{
    outline:none;
  }
}

.utilityButton.openDown{
  @extend %cf;
  float:right;
  // margin:0 auto;
  position:relative;
  top:-.2em;
  padding:.2em 1em .2em 1em;
}