.textContent{
    li{
        font-style:italic;
        padding-left:1em;
        position:relative;
        &:before{
            display:inline-block;
            content:"";
            width:6px;
            height:6px;
            border-radius:3px;
            background:$primary;
            position:absolute;
            top:.5em;
            left:.2em;
        }
    }
}