html{
  font-size:62.5%;
  min-height:100%;
}

body{
  min-height:100%;
  font-size:1.6em;
  font-family:$text;
  font-weight:$book;
  line-height:1.6;
  min-width:30rem;

  padding:10em;
  background:$cream;
  box-shadow:inset $white 0 0 0 5em;
}

a{
  background:$grey;
  color:$black;
  text-decoration:none;
  transition:color,background;
  transition-duration:.3s;
  &:hover{
    color:$cream;
    background:$primary;
  }
}


// // Main Wrapper
// .bodyWrapper{
//   background:$cream;
//   width:80%;
//   min-width:$contentWidth + 2;
//   margin:5em auto 3em;
//   padding-top:6em;
//   padding-bottom:6em;
//   @include breakpoint(XSsize){
//     min-width:0em;
//     width:90%;
//     margin:1em auto;
//   }
// }
// .mainContent{
//   width:$contentWidth;
//   margin:0 auto;
//   @include breakpoint(XSsize){
//     min-width:0em;
//     width:90%;
//   }
// }
// .mainContentInner{
//   padding-bottom:3rem;
// }
// h1{
//   position:relative;
//   font-size:1.8em;
//   line-height:1.2;
//   text-align:center;
//   a{color:inherit;background:none;}
//   padding:0 0 6rem 0;
//   &:after{@include horizontalRule(bottom);}
//   margin:0 0 6rem 0;
// }
// h2{
//   clear:both;
//   font-size:1.5em;
//   padding:1em 0;
// }
// h3{
//   font-size:1.2em;
//   padding:1em 0 0 0;
// }
// p{
//   text-indent:24%;
//   hyphens:none;
//   &:after{
//     content:"¶";
//     padding-left:.2em;
//     color:$primary;
//   }
//   &:first-of-type{
//     clear:both;
//     //@include bigFirstLetter;
//   }
//   @include bigFirstLetter;
// }
// p + p{
//   &:first-letter{
//     font-size:inherit;
//     color:inherit;
//   }
//   a:first-letter{
//     font-size:inherit;
//     color:inherit;
//     transition:color;
//     transition-duration:.3s;
//   }
//   a:hover:first-letter{
//     color:$cream;
//     font-size:inherit;
//   }
// }
// .top-link{
//   display:block;
//   padding:2em 0 0 0;
// }
// hr{
//   display:block;
//   border:none;
//   position:relative;
//   margin:0 0 3em 0;
//   margin:0 0 3rem 0;
//   padding:0 0 3.5em 0;
//   padding:0 0 3.5rem 0;
//   &:after{
//     @include horizontalRule(bottom);
//   }
// }
