.textContent{
    // color:$black;
    
    ul,ol{
        padding:1em 0;
        width:90%;
        margin:0 auto;
    }

    li{
        font-style:italic;
        padding-left:1em;
        position:relative;
        padding-bottom:1em;
        margin-bottom:.5em;
        &:before{
            display:inline-block;
            content:"";
            width:8px;
            height:8px;
            border-radius:50%;
            background:$primary;
            position:absolute;
            top:.7em;
            left:.2em;
        }
        &:after{
            position:absolute;
            content:'';
            background:$grey;
            width:10em;
            bottom:0;
            left:1em;//50%;
            // margin-left:-5em;
            height:2px;
        }

        h1,h2,h3,h4,h5,h6{
            padding-top:0;
            font-style:normal;
        }

        p::first-letter{
            font-size:inherit;
            color:inherit;
        }
        p:after{display:none;}
    }

    > p{
        text-indent:24%;
        hyphens:none;
        &:after{
            content:"¶";
            padding-left:.2em;
            color:$grey;
        }
        &:first-of-type{
            // clear:both;
            text-indent:0;
            //@include bigFirstLetter;
        }
        @include bigFirstLetter;
    }
    > p + p{
        &:first-letter{
            font-size:inherit;
            color:inherit;
        }
        a:first-letter{
            font-size:inherit;
            color:inherit;
            transition:color;
            transition-duration:.3s;
        }
        a:hover:first-letter{
            color:$cream;
            font-size:inherit;
        }
    }
    img{
        margin-top:1em;
        margin-bottom:-1.4em;
        // margin-left:auto;
        // margin-right:auto;
    }
    .addendum{
        display:block;
        font-family:$display;
        // font-size:.8em;
        padding:1em;
        // width:80%;
        background:rgba($primary,.3);
        box-shadow:rgba($black,.4) 0 .2em .5em 0;
        margin:1em auto;
        &:after{color:rgba($black,.2);}
        // &::first-letter{color:inherit;}
        a{
            background:rgba($black,.2);
            &:hover{
                background:$primary;
                color:$black;
            }
        }
        @include bp(u1){
            font-size:.8em;
            padding:2em;
            width:80%;
        }
    }
}