// Social Icons
.socialLinks{
  font-size:.8em;
  position:relative;
  margin:3rem auto 0;
  padding:6rem 0 0 0;
  text-align:center;
  width:$contentWidth;
  @include breakpoint(XSsize){
    width:100%;
  }
  &:before{
    @include horizontalRule(top);
  }
  .socialContainer{
    display:block;
    float:left;
    width:50%;
    @include breakpoint(XSsize){
      width:100%;
      padding:2em;
    }
  }
  a{
    display:inline;
    position:relative;
    margin-left:2em;
    line-height:1;
    text-transform:uppercase;
    font-style:italic;
    // &:before{
    //   transform:translateZ(0);
    //   font-family:$icons;
    //   font-weight: normal;
    //   font-style: normal;
    //   position:absolute;
    //   display:block;
    //   width:1em;
    //   height:1em;
    //   top:-25%;
    //   left:-1.2em;
    //   content:"&";
    //   font-size:2em;
    //   line-height:1em;
    //   text-align:center;
    //   color:$black;
    //   transition-property:color;
    //   transition-duration:.3s;
    // }
    // &.twitter:before{content:"\e003";}
    // &.github:before{content:"\e002";}
    // &:hover:before{color:$primary;}
  }
}

// Email Link
.footer{
  text-align:center;
  margin:0 0 3em 0;
  a{
    background:none;
    font-weight:$bold;
    &:hover{
      color:$black;
      background:$primary;
    }
  }
}
