.homeGraph{
    width:100%;
    height:10em;
    // background:rgba(red,.4);
    margin:0 auto 4em;
}

.homeGraph{
    font-family:$display;
    cursor:pointer;
    color:$grey;
    path { 
        stroke:$primary;
        stroke-width:.1em;
        fill:none;
        &.line_pilot{
            stroke:$yellow;
        }
        &.line_mus{
            stroke:$green;
        }
    }
    .axis path,
    .axis line {
        fill:none;
        stroke:$grey;
        stroke-width:.1em;
        shape-rendering:crispEdges;
    }
    .hover{
        stroke:$primary;
        fill:$cream;
        stroke-width:.1em;
        r:.3em;
        &.y_pilot{
            stroke:$yellow;
        }
        &.y_mus{
            stroke:$green;
        }
    }
    .chartarea{
        stroke:none;
        fill:rgba($primary,.2);
    }
}