.postSnippet{
    margin-bottom:1em;
}

.postSnippet{

    p{
        padding:0;
        line-height:1;
        display:block;
    }
    .snippetIntro{
        padding:0 0 .5em 0;
    }

    .snippetMeta{
        font-size:.8em;
        font-family:$caps;
        text-transform:lowercase;
        // margin-top:.5em;
        border-top:$black solid .1em;
        padding-top:.2em;
        padding-bottom:.5em;
        border-bottom:$black solid .1em;
        margin-bottom:.5em;
    }

    .snippetExcerpt{
       line-height:1.4;
       padding:0 0 .5em 0;
    }
}

.homepagePostList .postSnippet{
    margin-top:1em;
    margin-bottom:4em;
}