.big-drop-cap{
  font-weight:$book;
  font-family:$text;
  font-style:italic;
  line-height:1.5;
  // text-transform:uppercase;
  padding-bottom:1em;
}
.runIn{
  color:$primary;
  font-family:$display;
  font-style:normal;
  margin-left:-1em;
  font-size:1.2em;
  // Kerning Table
  &.d,&.g,&.o,&.r{margin-left:-1.5em;}
  &.e,&.f{margin-left:-.7em;}
  &.k,&.n,&.t,&.x,&.z,&.h{margin-left:-.5em;}
  &.q{margin-left:-2em;}
  &.l,&.a{margin-left:-2.5em;}
  &.u,&.w{margin-left:0;}
  &.v{margin-left:-.3em;}
  &.y{margin-left:-.2em;}
  @include bp(d3){margin-left:0 !important;}// Janky use of !important, but saves writing MQeries for all kerning table
}
.dropcap{
  display:block;
  float:left;
  font-size:12em;
  line-height:.7;
  font-weight:$bold;
  color:$primary;
  text-shadow:.05em .05em 0 $black;
  padding:0 0 .1em 0;
  width:.8em;
  // Kerning Table
  &.r,&.t{width:.75em;}
  &.b,&.p,&.s,&.l{width:.7em;}
  &.e,&.f{width:.65em;}
  &.g,&.n,&.o{width:.9em;}
  &.h{width:.87em;}
  &.i{width:.5em;}
  &.j{width:.57em;}
  &.m{width:1em;}
  &.q{width:.95em;}
  &.v,&.x{width:.85em;}
  &.w{width:1.15em;}
  @include bp(d3){font-size:5em;}
}