.homeGraph{
    width:100%;
    height:15em;
    // background:rgba(red,.4);
    margin:0 auto 4em;
}

.homeGraph{
    font-family:$display;
    cursor:pointer;
    color:$grey;
    path { 
        stroke:$primary;
        stroke:rgba($black,.4);
        stroke-width:.2rem;
        fill:none;
        // &.line_pilot{stroke:$white;}
        // &.line_mus{stroke:$green;}
        // &.line_art{stroke:$grey;}
        // &.line_des{stroke:$black;}
        &.line_dev{stroke:$primary;}
    }
    .axis path,
    .axis line {
        fill:none;
        stroke:$grey;
        stroke-width:.2rem;
        shape-rendering:crispEdges;
    }
    .hover{
        stroke:$primary;
        stroke:rgba($black,.4);
        fill:$cream;
        stroke-width:.2rem;
        r:.3em;
        display:none;
        &.active{
            display:block;
        }
        // &.y_pilot{stroke:$white;}
        // &.y_mus{stroke:$green;}
        // &.y_art{stroke:$grey;}
        // &.y_des{stroke:$black;}
        &.y_dev{stroke:$primary;}
    }
    .chartarea{
        stroke:none;
        fill:rgba($primary,.2);
    }
}