.coverImageWrapper{
    // width:25%;
    float:right;
    max-width:50%;
    margin:0 -25% .5em .5em;
    img{
        max-width:100%;
        height:auto;
    }
    @include bp(d1){
        margin:0 -10% .5em .5em;
    }
    @include bp(d2){
        margin:0 0 .5em .5em;
    }
    @include bp(d3){
        float:none;
        max-width:100%;
        width:100%;
        margin:0 0 .5em 0;
    }
}