// Social Icons
.socialLinks{
    font-size:.8em;
    position:relative;
    margin:3rem auto 0;
    padding:6rem 0 0 0;
    text-align:center;
    // width:$30em;
    @include bp(d3){
        width:100%;
    }
    &:before{
        @include horizontalRule(top);
    }
    .socialContainer{
        display:block;
        float:left;
        width:50%;
        @include bp(d3){
            width:100%;
            padding:2em;
        }
    }
    a{
        font-family:$display;
        display:inline;
        position:relative;
        margin-left:2em;
        line-height:1;
        // text-transform:uppercase;
        // letter-spacing:.1em;
        // font-style:italic;
        .icon{
            font-size:2.5em;
            position:absolute;
            display:block;
            width:1em;
            height:1em;
            top:-.25em;
            left:-1.2em;
            line-height:1em;
            text-align:center;
            fill:$black;
            transition-property:fill;
            transition-duration:.3s;
        }
        &:hover .icon{
            fill:$primary;
        }
    }
}
