.header{
    font-size:1.2em;
    position:fixed;
    top:0;
    left:0;
    background:$black;
    color:$cream;
    width:100%;
    line-height:1;
    z-index:3;
    min-width:300px;
    transition:top;
    transition-duration:.2s;
    &.mainMenuOpen{top:0;}
    &.tuckedUp{
        top:-1.4em;
        &.mainMenuOpen{top:0;}
    }
    .logo{
        font-size:1em;
        padding:0;
    }
}
.siteName{
    display:inline-block;
    color:$cream;
    background:$black;
    font-weight:$bold;
    font-style:italic;
    padding:.2em 1em .2em 1.5em;
    box-shadow:
        inset $black .5em 0 0 0,
        inset $primary 1em 0 0 0;
    transition:box-shadow;
    transition-duration:.2s;
    &:hover{
        color:$cream;
        background:$black;
        box-shadow:
            inset $black .5em 0 0 0,
            inset $primary 9em 0 0 0;
    }
}

.headerTagline{
    display:inline-block;
    font-style:italic;
    padding:.2em 0;
}