.footer{
    text-align:center;
    padding:0 0 3em 0;
    @include bp(d2){
        padding:2em 0 5em 0;
    }
    a{
        background:none;
        font-weight:$bold;
        &:hover{
            color:$black;
            background:$primary;
        }
    }
}
