.recordMeta{
  display:block;
  width:50%;
  float:left;
  line-height:1.2;
  font-size:.8em;
  @include bp(d2){
    width:100%;
    // text-align:center;
    // display:inline-block;
    // width:auto;
    // margin:0 auto;
  }
}
.recordMetaKey{
  font-family:$caps;
  text-transform:lowercase;
  display:inline-block;
  min-width:8em;
  // text-align:right;
  margin:0 .5em;
  @include bp(d2){
    width:50%;
    float:left;
    text-align:right;
    margin:0;
    padding:0 .5em;
  }
}
.recordMetaValue{
  margin:0 .5em;
  @include bp(d2){
    width:50%;
    float:left;
    margin:0;
    padding:0 .5em;
  }
  a{
    // color:$primary;
    border-bottom:1px solid $black;
    // transition:border;
    // transition-duration:.2s;
    &:hover{
      background:$primary;
      // color:rgba($black,.6);
      // border-bottom-color:$secondary;
    }
  }
}

.hiddenSectionWrap{
  @extend %cf;
  margin-bottom:.5em;
}

.recordMetaBox{
  display:block;
  width:100%;
  clear:both;
  padding:.5em 0;
  border-top:.2em solid $black;
  background:rgba($primary,.3);
  border-bottom:0 solid $black;
  max-height:0;
  overflow:hidden;
  padding:0;

  transition:max-height,border,padding;
  transition-duration:.2s;
  &.open{
    // padding:.5em 0;
    max-height:10em;
    border-bottom:.2em solid $black;
  }
}

.recordMetaBoxInner{
  margin:.5em 0;
  position:relative;
  // background-image:linear-gradient(
  //   to right,
  //   transparent 49.5%,
  //   $black 49.5%,
  //   $black 50.5%,
  //   transparent 50.5%
  //   );
  &:before{
    content:"";
    display:block;
    width:2px;
    background:$black;
    height:100%;
    position:absolute;
    top:0;
    left:50%;
    margin-left:-1px;
    @include bp(d2){display:none;}
  }
}