// COLOURS

// "The New Defaults"
$aqua:#7fdbff;
$blue:#0074d9;
$navy:#001f3f;
$teal:#39cccc;
$green:#2ecc40;
$olive:#3d9970;
$lime:#01ff70;
$yellow:#ffdc00;
$orange:#ff851b;
$red:#ff4136;
$fuchsia:#f012be;
$purple:#b10dc9;
$maroon:#85144b;
$white:#fff;
$silver:#ddd;
$grey:#aaa;
$black:#111;

// Brand Colours
// $black:#333333;
// $white:#ffffff;
// $cream:#fff8d8;
// $primary:#7fbbcb;
// $secondary:#fbae17;
// $grey:#bbb;
// $creamDark:#eee8d8;

$black:#4d4d4d;
$white:#ffffff;
$cream:#efeeeb;
$grey:#dad8d2;
$greyDark:darken($grey,20%);
$primary:#00b7c6;

// Selection Colours
::selection{
  color:$cream;
  background:rgba($primary,.5);
}
a::selection{
  color:$primary;
  background:rgba($black,.5);
}