// Typography etc.

// Icon Font
// @font-face {
//   font-family:'iconFont';
//   src:url('../fonts/icons/icons.eot');
//   src:url('../fonts/icons/icons.eot?#iefix') format('embedded-opentype'),
//   url('../fonts/icons/icons.woff') format('woff'),
//   url('../fonts/icons/icons.ttf') format('truetype'),
//   url('../fonts/icons/icons.svg#icons') format('svg');
//   font-weight:normal;
//   font-style:normal;
// }

// Fonts
$display:"brandon-grotesque",'futura','gil sans',sans-serif;
$text: "ff-tisa-web-pro",georgia,serif;//"futura-pt", sans-serif;
$book:400;
$bold:700;
$code:"droid-sans-mono",monospace;

// Weights
$book:400;
$bold:700;
