// .contentWrapperInner{
//   width:90%;
//   max-width:40em;
//   margin:0 auto;
//   padding:4em 0;
// }

// footer{
//   display:block;
//   height:20em;
//   background:$blue;
// }

//.contentWrapper{
//  padding:1em 0;
//  &.dark{
//    background:$blue;
//    color:$cream;
//  }
//}
//
//.output1{color:$red;}
//.output2{color:$green;}

// html.mti-loading{
//   color:$cream;
//   a{color:$cream;}
//   .dark{
//     color:$blue;
//     a{color:$blue;}
//   }
// }


.testWrap{
  width:100%;
  max-width:30em;
  margin:0 auto;
}