.centered{
    text-align:center;
}

.small{
    font-size:.8em;
    line-height:1.2;
    margin-bottom:1rem;
}

.block{
    display:block;
}

.bottomMargin{
    margin-bottom:1em;
}

.littleButtons{
    font-size:.8em;
}