@import "settings.colours";
// @import "settings.fonts";
@import "settings.breakpoints";

.cp-css{
    html {
        font-size:62.5%;
        @include bp(u1){
            font-size:100%;
        }
    }

    body {
        // font-size: 1.6em;
        color: #4d4d4d;
        // line-height: 1.6;
    }

    .hidden {
        display: none!important;
    }

    h1 {
        // position: relative;
        font-size: 1.8em;
        line-height: 1.2;
        text-align: center;
        font-weight: 700;
        color: #4d4d4d;
        // padding: 4rem 0 10rem;
        margin: 0 0 6rem;
    }
    
    a{
        text-decoration:none;
        background: #dad8d2;
        color: #4d4d4d;
    }

    .bodyWrapper {
        background: #efeeeb;
        width: 80%;
        margin: 5em auto 3em;
        padding-top: 6em;
    }

    .mainContent {
        width: 90%;
        max-width:28em;
        margin: 0 auto;
    }


    .header{
        font-size:1em;
        position:fixed;
        top:0;
        left:0;
        background:$black;
        color:$cream;
        width:100%;
        line-height:1;
        z-index:3;
        min-width:300px;
    }
    .siteName{
        display:block;
        float:left;
        background:$black;
        margin:.5em;
        padding:.1em 0;
        line-height:1em;
        padding:.1em 1em;
        box-shadow:inset $primary .5em 0 0 0;
    }

    .logo{
        font-size:.8em;
        display:block;
        padding:0;
        line-height:1;
        margin:0;
        color:$white;
        text-transform:uppercase;
        letter-spacing:.2em;
    }

    .mainMenuToggle{
        display:none;
    }

    .mainMenuWrapper {
        position: fixed;
        bottom: 0;
        left: 100%;
    }

    .icon{
        width:1em;
        height:1em;
    }

    // Generated
    // ::-moz-selection{color:#efeeeb;background:rgba(0,183,198,.5)}::selection{color:#efeeeb;background:rgba(0,183,198,.5)}a::-moz-selection{color:#00b7c6;background:rgba(77,77,77,.5)}.clearfix:after,.clearfix:before{content:' ';display:table}.clearfix:after{clear:both}.clearfix{zoom:1}.mainMenuToggle{display:block;background:inherit;color:inherit;border:none;cursor:pointer;font-size:1em;line-height:inherit;padding:0;appearance:none;-moz-appearance:none;-webkit-appearance:none;font-family:inherit}a,article,body,div,h1,h2,h3,header,html,li,nav,p,section,span,ul{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}html{-webkit-box-sizing:border-box;box-sizing:border-box}*,:after,:before{-webkit-box-sizing:inherit;box-sizing:inherit}html{font-size:62.5%;min-height:100%}@media (min-width:1200px){html{font-size:100%}}body{min-height:100%;font-size:1.6em;font-family:ff-tisa-web-pro,georgia,serif;font-weight:400;color:#4d4d4d;line-height:1.6;min-width:300px}a{background:#dad8d2;color:#4d4d4d;text-decoration:none;-webkit-transition:color,background;transition:color,background;-webkit-transition-duration:.3s;transition-duration:.3s}h1,h2,h3{font-weight:700;font-family:brandon-grotesque,futura,'gil sans',sans-serif}li{list-style:none}.bodyWrapper{background:#efeeeb;width:80%;min-width:30em;margin:5em auto 3em;padding-top:6em;padding-bottom:6em}@media (max-width:570px){.bodyWrapper{min-width:0;width:90%;margin:3em auto 1em}}.mainContent{width:28em;margin:0 auto}@media (max-width:570px){.mainContent{min-width:0;width:90%}}.mainContentInner{padding-bottom:3rem}h1{position:relative;font-size:1.8em;line-height:1.2;text-align:center;font-weight:700;color:#4d4d4d;padding:4rem 0 10rem;margin:0 0 6rem}h1:after{position:absolute;top:100%;left:50%;content:"";width:16rem;margin-left:-8rem;border-top:.1rem solid #4d4d4d}@media (max-width:570px){h1:after{width:5em;margin-left:-2.5em}}h2{clear:both;font-size:1.5em;padding:1em 0}h3{font-size:1.2em;padding:1em 0 0}.mainMenuToggle{height:1em;width:1em;margin:.2em .5em;float:right;position:relative;z-index:3}.navicon{display:block;background:#efeeeb;height:2px;margin:.4rem auto;position:relative;width:16px;-webkit-transition:background;transition:background;-webkit-transition-duration:.2s;transition-duration:.2s}.navicon:after,.navicon:before{content:'';display:block;position:absolute;height:2px;background:#efeeeb;width:16px;left:50%;margin-left:-8px;-webkit-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-transition:-webkit-transform,top,bottom;transition:transform,top,bottom;-webkit-transition-duration:.2s;transition-duration:.2s}.navicon:before{top:-5px}.navicon:after{bottom:-5px}.mainMenuWrapper{z-index:2;position:fixed;background:#00b7c6;width:100%;display:table;bottom:0;left:100%;-webkit-transition:bottom,left;transition:bottom,left;-webkit-transition-duration:.2s;transition-duration:.2s}.mainMenu{list-style:none;display:table-cell;text-align:center;vertical-align:middle;font-size:.8em}.mainMenu li{display:block;text-align:center;padding:.2em 0}.mainMenu li a{font-family:brandon-grotesque,futura,'gil sans',sans-serif;line-height:1;display:inline-block;background:0 0;color:#4d4d4d;font-weight:700;padding:.5em 0;-webkit-box-shadow:inset #efeeeb 0 -.2em 0 0;box-shadow:inset #efeeeb 0 -.2em 0 0;-webkit-transition:-webkit-box-shadow;transition:box-shadow;-webkit-transition-duration:.2s;transition-duration:.2s}.header{font-size:1.2em;position:fixed;top:0;left:0;background:#4d4d4d;color:#efeeeb;width:100%;line-height:1;z-index:3;min-width:300px;-webkit-transition:top;transition:top;-webkit-transition-duration:.2s;transition-duration:.2s}.header .logo{font-size:1em;padding:0}.siteName{display:inline-block;color:#efeeeb;background:#4d4d4d;font-weight:700;font-size:.8em;line-height:1.2rem;font-style:normal;padding:.2em 1em .2em 1.5em;-webkit-box-shadow:inset #4d4d4d .5em 0 0 0,inset #00b7c6 1em 0 0 0;box-shadow:inset #4d4d4d .5em 0 0 0,inset #00b7c6 1em 0 0 0;-webkit-transition:-webkit-box-shadow;transition:box-shadow;-webkit-transition-duration:.2s;transition-duration:.2s}.big-drop-cap{font-weight:400;font-family:ff-tisa-web-pro,georgia,serif;font-style:italic;line-height:1.5;padding-bottom:1em}.runIn{color:#00b7c6;font-family:brandon-grotesque,futura,'gil sans',sans-serif;font-style:normal;margin-left:-1em;font-size:1.2em}.runIn.l{margin-left:-2.5em}@media (max-width:570px){.runIn{margin-left:0!important}}.dropcap{display:block;float:left;font-size:12em;line-height:.7;font-weight:700;color:#00b7c6;text-shadow:.05em .05em 0 #4d4d4d;padding:0 0 .1em;width:.8em}.dropcap.l{width:.7em}@media (max-width:570px){.dropcap{font-size:5em}}.hidden{display:none!important;visibility:hidden}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
}