---
layout: default
title: "CSS and Javascript Keyboard"
excerpt: "A working piano keyboard built using the Web Audio API and styled with CSS."
category: showcase
customCss: "/keyboard.css"
---
<section class="keyboard clearfix">

  <h1>CSS & Javascript Keyboard</h1>

  <div class="pianoWrapper">
    <div class="piano">
      <div class="octave-wrapper clearfix">
        <ol class="octave clearfix">
          <li class="piano-key natural"    data-pitch="261.63" data-note="C"  data-octave="4" ></li>
          <li class="piano-key accidental" data-pitch="277.18" data-note="C#" data-octave="4" ></li>
          <li class="piano-key natural"    data-pitch="293.66" data-note="D"  data-octave="4" ></li>
          <li class="piano-key accidental" data-pitch="311.13" data-note="D#" data-octave="4" ></li>
          <li class="piano-key natural"    data-pitch="329.63" data-note="E"  data-octave="4" ></li>
          <li class="piano-key natural"    data-pitch="349.23" data-note="F"  data-octave="4" ></li>
          <li class="piano-key accidental" data-pitch="369.99" data-note="F#" data-octave="4" ></li>
          <li class="piano-key natural"    data-pitch="392.00" data-note="G"  data-octave="4" ></li>
          <li class="piano-key accidental" data-pitch="415.30" data-note="G#" data-octave="4" ></li>
          <li class="piano-key natural"    data-pitch="440.00" data-note="A"  data-octave="4" ></li>
          <li class="piano-key accidental" data-pitch="466.16" data-note="A#" data-octave="4" ></li>
          <li class="piano-key natural"    data-pitch="493.88" data-note="B"  data-octave="4" ></li>

          <li class="piano-key natural"    data-pitch="523.25" data-note="C"  data-octave="5" ></li>
          <li class="piano-key accidental" data-pitch="554.37" data-note="C#" data-octave="5" ></li>
          <li class="piano-key natural"    data-pitch="587.33" data-note="D"  data-octave="5" ></li>
          <li class="piano-key accidental" data-pitch="622.25" data-note="D#" data-octave="5" ></li>
          <li class="piano-key natural"    data-pitch="659.26" data-note="E"  data-octave="5" ></li>
          <li class="piano-key natural"    data-pitch="698.46" data-note="F"  data-octave="5" ></li>
          <li class="piano-key accidental" data-pitch="739.99" data-note="F#" data-octave="5" ></li>
          <li class="piano-key natural"    data-pitch="783.99" data-note="G"  data-octave="5" ></li>
          <li class="piano-key accidental" data-pitch="830.61" data-note="G#" data-octave="5" ></li>
          <li class="piano-key natural"    data-pitch="880.00" data-note="A"  data-octave="5" ></li>
          <li class="piano-key accidental" data-pitch="932.33" data-note="A#" data-octave="5" ></li>
          <li class="piano-key natural"    data-pitch="987.77" data-note="B"  data-octave="5" ></li>
        </ol>
    </div>
    </div>
  </div>

  <nav class="nav-outer clearfix">
    {% if page.next_in_category.url %}
      <a href="{{page.next_in_category.url}}" class="nav-button-prev">{{page.next_in_category.title}}</a>
    {% endif %}

    {% if page.previous_in_category.url %}
      <a href="{{page.previous_in_category.url}}" class="nav-button-next">{{page.previous_in_category.title}}</a>
    {% endif %}
  </nav>

</section>
