---
layout: bare
title: "CSS and Javascript Keyboard"
excerpt: "A working piano keyboard built using the Web Audio API and styled with CSS."
category: showcase
soloCss: "keyboard.min.css"
customJs: "keyboard.js"
featured: true
---
<article class="keyboard clearfix">

  <h1>CSS & Javascript Keyboard</h1>

  <div class="controls">
    <div class="controlStrip">
      <span>Master Volume</span>
      <input type="range" min="0" max="1" value="0.5" step="0.1" onchange="masterVolume(this.value)">
    </div>
    <div class="controlStrip">
      <span>Osc. #1 Volume</span>
      <input type="range" min="0" max="1" value="1" step="0.1" onchange="oscOneVolume(this.value)">
    </div>
    <div class="controlStrip">
      <span>Osc. #2 Volume</span>
      <input type="range" min="0" max="1" value="1" step="0.1" onchange="oscTwoVolume(this.value)">
    </div>
    <div class="controlStrip">
      <span>Osc. #1: Wave</span>
      <input type="range" min="0" max="3" value="0" step="1" onchange="oscOneWave(this.value)">
    </div>
    <div class="controlStrip">
      <span>Osc. #2: Wave</span>
      <input type="range" min="0" max="3" value="1" step="1" onchange="oscTwoWave(this.value)">
    </div>
    <div class="controlStrip">
      <span>Oscillator #2: Pitch</span>
      <input type="range" min="1" max="5" value="2" step="0.1" onchange="vcoTwoPitch(this.value)">
    </div>
  </div>

  <div class="pianoWrapper">
    <div class="piano">
      <div class="octave-wrapper clearfix">
        <ol class="octave clearfix">
          <li class="piano-key natural"    data-pitch="261.63" data-note="C"  data-octave="4" ></li>
          <li class="piano-key accidental" data-pitch="277.18" data-note="C#" data-octave="4" ></li>
          <li class="piano-key natural"    data-pitch="293.66" data-note="D"  data-octave="4" ></li>
          <li class="piano-key accidental" data-pitch="311.13" data-note="D#" data-octave="4" ></li>
          <li class="piano-key natural"    data-pitch="329.63" data-note="E"  data-octave="4" ></li>
          <li class="piano-key natural"    data-pitch="349.23" data-note="F"  data-octave="4" ></li>
          <li class="piano-key accidental" data-pitch="369.99" data-note="F#" data-octave="4" ></li>
          <li class="piano-key natural"    data-pitch="392.00" data-note="G"  data-octave="4" ></li>
          <li class="piano-key accidental" data-pitch="415.30" data-note="G#" data-octave="4" ></li>
          <li class="piano-key natural"    data-pitch="440.00" data-note="A"  data-octave="4" ></li>
          <li class="piano-key accidental" data-pitch="466.16" data-note="A#" data-octave="4" ></li>
          <li class="piano-key natural"    data-pitch="493.88" data-note="B"  data-octave="4" ></li>

          <li class="piano-key natural"    data-pitch="523.25" data-note="C"  data-octave="5" ></li>
          <li class="piano-key accidental" data-pitch="554.37" data-note="C#" data-octave="5" ></li>
          <li class="piano-key natural"    data-pitch="587.33" data-note="D"  data-octave="5" ></li>
          <li class="piano-key accidental" data-pitch="622.25" data-note="D#" data-octave="5" ></li>
          <li class="piano-key natural"    data-pitch="659.26" data-note="E"  data-octave="5" ></li>
          <li class="piano-key natural"    data-pitch="698.46" data-note="F"  data-octave="5" ></li>
          <li class="piano-key accidental" data-pitch="739.99" data-note="F#" data-octave="5" ></li>
          <li class="piano-key natural"    data-pitch="783.99" data-note="G"  data-octave="5" ></li>
          <li class="piano-key accidental" data-pitch="830.61" data-note="G#" data-octave="5" ></li>
          <li class="piano-key natural"    data-pitch="880.00" data-note="A"  data-octave="5" ></li>
          <li class="piano-key accidental" data-pitch="932.33" data-note="A#" data-octave="5" ></li>
          <li class="piano-key natural"    data-pitch="987.77" data-note="B"  data-octave="5" ></li>
        </ol>
    </div>
    </div>
  </div>

  <section class="mainContentInner">
    <p>This is my first experiment with the Web Audio API. I'm currently using it to generate a single oscilator which is triggered by clicking on the keys. The key that's clicked then sets the pitch of the oscilator. This means that for now this keyboard is strictly monophonic. To get polyphony, I'll need to create an instance of the oscilator for each and every key. Not impossible, but I've not found the time to finish that part of it yet.</p>
    <p>One particular challenge that this iteration <bold>has</bold> solved is the behaviour of the keys themselves. Getting a realistic (ish) glissando effect took some delicate javascript coding. Both the sound itself and the visual change in the keys are triggered (as one would expect) using the same event; the ocsilator function is called along with a toggling of the keys' “pressed” class. But getting that event to start and end as expected was rather tricky. It needs be aware of both the mouse up/down click state <em>and</em> the roll-on/roll-off positioning of the cursor, too.</p>
    <p>For the time being this is just a quirky experiement, but if I can sort out keybindings, add polyphony, and provide an adjustable envelope filter, then it would be a bona-fide synth and could possibly be of some use...</p>
  </section>

  <nav class="nav-outer clearfix">
    {% if page.next_in_category.url %}
      <a href="{{page.next_in_category.url}}" class="nav-button-prev">{{page.next_in_category.title}}</a>
    {% endif %}

    {% if page.previous_in_category.url %}
      <a href="{{page.previous_in_category.url}}" class="nav-button-next">{{page.previous_in_category.title}}</a>
    {% endif %}
  </nav>

</article>
