.toucheDeRouge {
  color: #ff0000; }

::-moz-selection {
  color: #efeeeb;
  background: rgba(0, 183, 198, 0.5); }

::selection {
  color: #efeeeb;
  background: rgba(0, 183, 198, 0.5); }

a::-moz-selection {
  color: #00b7c6;
  background: rgba(77, 77, 77, 0.5); }

a::selection {
  color: #00b7c6;
  background: rgba(77, 77, 77, 0.5); }

/*
  codepen.io Embed Theme
  Author: Justin Perry <http://github.com/ourmaninamsterdam>
  Original theme - https://github.com/chriskempson/tomorrow-theme
*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #222;
  color: #fff;
  font-family: Menlo, Monaco, 'Andale Mono', 'Lucida Console', 'Courier New', monospace;
  -webkit-text-size-adjust: none; }

.hljs-comment, .hljs-title {
  color: #777; }

.hljs-variable, .hljs-attribute, .hljs-tag, .hljs-regexp, .hljs-name, .ruby .constant, .xml .tag .title, .xml .pi, .xml .doctype, .html .doctype {
  color: #ab875d; }

.css .value {
  color: #cd6a51; }

.css .value .function, .css .value .string {
  color: #a67f59; }

.css .value .number {
  color: #9b869c; }

.css .id, .css .class, .css-pseudo, .css .selector, .css .tag {
  color: #dfc48c; }

.hljs-number, .hljs-preprocessor, .hljs-built_in, .hljs-literal, .hljs-params, .hljs-constant {
  color: #ab875d; }

.ruby .class .title, .css .rules .attribute {
  color: #9b869b; }

.hljs-string, .hljs-value, .hljs-inheritance, .hljs-header, .ruby .symbol, .xml .cdata {
  color: #8f9c6c; }

.css .hexcolor {
  color: #cd6a51; }

.function, .python .decorator, .python .title, .ruby .function .title, .ruby .title .keyword, .perl .sub, .javascript .title, .coffeescript .title {
  color: #fff; }

.hljs-keyword, .javascript .function {
  color: #8f9c6c; }

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.mainMenuToggle {
  display: block;
  background: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  font-size: 1em;
  line-height: inherit;
  padding: 0;
  margin: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: inherit; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.textContent ul, .textContent ol {
  padding: 1em 0;
  width: 90%;
  margin: 0 auto; }
.textContent li {
  font-style: italic;
  padding-left: 1em;
  position: relative;
  padding-bottom: 1em;
  margin-bottom: 0.5em; }
  .textContent li:before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #00b7c6;
    position: absolute;
    top: 0.7em;
    left: 0.2em; }
  .textContent li:after {
    position: absolute;
    content: '';
    background: #dad8d2;
    width: 10em;
    bottom: 0;
    left: 1em;
    height: 2px; }
  .textContent li h1, .textContent li h2, .textContent li h3, .textContent li h4, .textContent li h5, .textContent li h6 {
    padding-top: 0;
    font-style: normal; }
  .textContent li p::first-letter {
    font-size: inherit;
    color: inherit; }
  .textContent li p:after {
    display: none; }
.textContent > p {
  text-indent: 24%;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none; }
  .textContent > p:after {
    content: "¶";
    padding-left: 0.2em;
    color: #dad8d2; }
  .textContent > p:first-of-type {
    text-indent: 0; }
  .textContent > p::first-letter {
    font-size: 1.5em;
    color: #00b7c6; }
  .textContent > p a:first-letter {
    font-size: 1.5em;
    color: #00b7c6;
    -webkit-transition: color, background;
            transition: color, background;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .textContent > p a:hover:first-letter {
    color: #efeeeb;
    font-size: 1.5em; }
.textContent > p + p:first-letter {
  font-size: inherit;
  color: inherit; }
.textContent > p + p a:first-letter {
  font-size: inherit;
  color: inherit;
  -webkit-transition: color;
          transition: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }
.textContent > p + p a:hover:first-letter {
  color: #efeeeb;
  font-size: inherit; }
.textContent img {
  margin-top: 1em;
  margin-bottom: -1.4em; }
.textContent .addendum {
  display: block;
  font-family: "brandon-grotesque", 'futura', 'gil sans', sans-serif;
  padding: 1em;
  background: rgba(0, 183, 198, 0.3);
  -webkit-box-shadow: rgba(77, 77, 77, 0.4) 0 0.2em 0.5em 0;
          box-shadow: rgba(77, 77, 77, 0.4) 0 0.2em 0.5em 0;
  margin: 1em auto; }
  .textContent .addendum:after {
    color: rgba(77, 77, 77, 0.2); }
  .textContent .addendum a {
    background: rgba(77, 77, 77, 0.2); }
    .textContent .addendum a:hover {
      background: #00b7c6;
      color: #4d4d4d; }
  @media (min-width: 1200px) {
    .textContent .addendum {
      font-size: 0.8em;
      padding: 2em;
      width: 80%; } }

code {
  font-family: "droid-sans-mono", monospace;
  padding: 0 0.4em;
  font-size: 0.8em;
  color: #efeeeb;
  background: #4d4d4d;
  word-wrap: break-word; }

pre {
  margin: 1em 0;
  border-top: #dad8d2 solid 1em;
  border-radius: 0.5em 0.5em 0 0;
  position: relative;
  width: 130%;
  margin-left: -15%; }
  pre:before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    background: #00b7c6;
    position: absolute;
    top: -0.7em;
    left: 0.4em;
    -webkit-box-shadow: #efeeeb 0.7em 0 0 0, #4d4d4d 1.4em 0 0 0;
            box-shadow: #efeeeb 0.7em 0 0 0, #4d4d4d 1.4em 0 0 0; }
  pre:after {
    position: absolute;
    content: "Code Example";
    font-family: "droid-sans-mono", monospace;
    font-size: 0.6em;
    top: -1.5em;
    left: 0;
    width: 100%;
    color: #4d4d4d;
    text-align: center; }
  pre.css:after {
    content: 'a CSS code example'; }
  pre.php:after {
    content: 'a PHP code example'; }
  @media (max-width: 800px) {
    pre {
      width: 100%;
      margin-left: 0; } }

pre code {
  display: block;
  width: 100%;
  overflow: auto;
  padding: 1em !important;
  word-wrap: normal; }

html {
  font-size: 62.5%;
  min-height: 100%; }
  @media (min-width: 1200px) {
    html {
      font-size: 100%; } }

body {
  min-height: 100%;
  font-size: 1.6em;
  font-family: "ff-tisa-web-pro", georgia, serif;
  font-weight: 400;
  color: #4d4d4d;
  line-height: 1.6;
  min-width: 300px; }

a {
  background: #dad8d2;
  color: #4d4d4d;
  text-decoration: none;
  -webkit-transition: color, background;
          transition: color, background;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }
  a:hover {
    color: #efeeeb;
    background: #00b7c6; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "brandon-grotesque", 'futura', 'gil sans', sans-serif; }

li {
  list-style: none; }

.bodyWrapper {
  background: #efeeeb;
  width: 80%;
  min-width: 30em;
  margin: 5em auto 3em;
  padding-top: 6em;
  padding-bottom: 6em; }
  @media (max-width: 570px) {
    .bodyWrapper {
      min-width: 0em;
      width: 90%;
      margin: 3em auto 1em; } }

.mainContent {
  width: 28em;
  margin: 0 auto; }
  @media (max-width: 570px) {
    .mainContent {
      min-width: 0em;
      width: 90%; } }

.mainContentInner {
  padding-bottom: 3rem; }

h1 {
  position: relative;
  font-size: 1.8em;
  line-height: 1.2;
  text-align: center;
  font-weight: 700;
  color: #4d4d4d;
  padding: 4rem 0 10rem 0;
  margin: 0 0 6rem 0; }
  h1 a {
    color: inherit;
    background: none; }
  h1:after {
    position: absolute;
    top: 100%;
    left: 50%;
    content: "";
    width: 16rem;
    margin-left: -8rem;
    border-top: 0.1rem solid #4d4d4d; }
    @media (max-width: 570px) {
      h1:after {
        width: 5em;
        margin-left: -2.5em; } }

h2 {
  clear: both;
  font-size: 1.5em;
  padding: 1em 0; }

h3 {
  font-size: 1.2em;
  padding: 1em 0 0 0; }

.top-link {
  display: block;
  padding: 2em 0 0 0;
  font-weight: 700;
  font-size: 0.8em;
  text-align: center; }
  .top-link a {
    color: #dad8d2;
    background: none; }
    .top-link a:hover {
      color: #4d4d4d; }

hr {
  display: block;
  border: none;
  position: relative;
  margin: 0 0 3em 0;
  margin: 0 0 3rem 0;
  padding: 0 0 3.5em 0;
  padding: 0 0 3.5rem 0; }
  hr:after {
    position: absolute;
    top: 100%;
    left: 50%;
    content: "";
    width: 16rem;
    margin-left: -8rem;
    border-top: 0.1rem solid #4d4d4d; }
    @media (max-width: 570px) {
      hr:after {
        width: 5em;
        margin-left: -2.5em; } }

img {
  display: block;
  position: relative;
  z-index: 2;
  max-width: 100%;
  height: auto;
  padding: 1em 0 0em 0;
  margin-bottom: -1.2em; }

.shadowImg img {
  -webkit-box-shadow: rgba(77, 77, 77, 0.4) 0 0.2em 0.5em 0;
          box-shadow: rgba(77, 77, 77, 0.4) 0 0.2em 0.5em 0; }

.mainMenuToggle {
  height: 1em;
  width: 1em;
  margin: 0.2em 0.5em;
  float: right;
  position: relative;
  z-index: 3; }
  .mainMenuToggle:focus {
    outline: none; }

.navicon {
  display: block;
  background: #efeeeb;
  height: 2px;
  margin: 0.4rem auto;
  position: relative;
  width: 16px;
  -webkit-transition: background;
          transition: background;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s; }
  .navicon:before, .navicon:after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    background: #efeeeb;
    width: 16px;
    left: 50%;
    margin-left: -8px;
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform, top, bottom;
            transition: transform, top, bottom;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s; }
  .navicon:before {
    top: -5px; }
  .navicon:after {
    bottom: -5px; }

.mainMenuToggle.open .navicon {
  background: #4d4d4d; }
  .mainMenuToggle.open .navicon:before, .mainMenuToggle.open .navicon:after {
    width: 12px; }
  .mainMenuToggle.open .navicon:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0; }
  .mainMenuToggle.open .navicon:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 0; }

.mainMenuWrapper {
  z-index: 2;
  position: fixed;
  background: #00b7c6;
  width: 100%;
  display: table;
  bottom: 0;
  left: 100%;
  -webkit-transition: bottom, left;
          transition: bottom, left;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s; }
  .mainMenuWrapper.open {
    bottom: 0;
    left: 0; }

.mainMenu {
  list-style: none;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 0.8em; }
  .mainMenu li {
    display: block;
    text-align: center;
    padding: 0.2em 0; }
    .mainMenu li a {
      font-family: "brandon-grotesque", 'futura', 'gil sans', sans-serif;
      line-height: 1;
      display: inline-block;
      background: none;
      color: #4d4d4d;
      font-weight: 700;
      padding: 0.5em 0;
      -webkit-box-shadow: inset #efeeeb 0 -0.2em 0 0;
              box-shadow: inset #efeeeb 0 -0.2em 0 0;
      -webkit-transition: -webkit-box-shadow;
              transition: box-shadow;
      -webkit-transition-duration: 0.2s;
              transition-duration: 0.2s; }
      .mainMenu li a:hover {
        -webkit-box-shadow: inset #efeeeb 0 -2em 0 0;
                box-shadow: inset #efeeeb 0 -2em 0 0; }

.header {
  font-size: 1.2em;
  position: fixed;
  top: 0;
  left: 0;
  background: #4d4d4d;
  color: #efeeeb;
  width: 100%;
  line-height: 1;
  z-index: 3;
  min-width: 300px;
  -webkit-transition: top;
          transition: top;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s; }
  .header.mainMenuOpen {
    top: 0; }
  .header.tuckedUp {
    top: -1.4em; }
    .header.tuckedUp.mainMenuOpen {
      top: 0; }
  .header .logo {
    font-size: 1em;
    padding: 0; }

.siteName {
  display: inline-block;
  color: #efeeeb;
  background: #4d4d4d;
  font-weight: 700;
  font-size: 0.8em;
  line-height: 1.2rem;
  font-style: normal;
  padding: 0.2em 1em 0.2em 1.5em;
  -webkit-box-shadow: inset #4d4d4d 0.5em 0 0 0, inset #00b7c6 1em 0 0 0;
          box-shadow: inset #4d4d4d 0.5em 0 0 0, inset #00b7c6 1em 0 0 0;
  -webkit-transition: -webkit-box-shadow;
          transition: box-shadow;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s; }
  .siteName:hover {
    color: #efeeeb;
    background: #4d4d4d;
    -webkit-box-shadow: inset #4d4d4d 0.5em 0 0 0, inset #00b7c6 9em 0 0 0;
            box-shadow: inset #4d4d4d 0.5em 0 0 0, inset #00b7c6 9em 0 0 0; }

.headerTagline {
  display: inline-block;
  font-style: italic;
  padding: 0.2em 0; }

.footer {
  text-align: center;
  padding: 0 0 3em 0; }
  @media (max-width: 800px) {
    .footer {
      padding: 2em 0 5em 0; } }
  .footer a {
    font-family: "brandon-grotesque", 'futura', 'gil sans', sans-serif;
    background: none;
    font-weight: 700; }
    .footer a:hover {
      color: #4d4d4d;
      background: #00b7c6; }

.socialLinks {
  font-size: 0.8em;
  position: relative;
  margin: 3rem auto 0;
  padding: 6rem 0 0 0;
  text-align: center; }
  @media (max-width: 570px) {
    .socialLinks {
      width: 100%; } }
  .socialLinks:before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    content: "";
    width: 16rem;
    margin-left: -8rem;
    border-top: 0.1rem solid #4d4d4d; }
    @media (max-width: 570px) {
      .socialLinks:before {
        width: 5em;
        margin-left: -2.5em; } }
  .socialLinks .socialContainer {
    display: block;
    float: left;
    width: 50%; }
    @media (max-width: 570px) {
      .socialLinks .socialContainer {
        width: 100%;
        padding: 2em; } }
  .socialLinks a {
    font-family: "brandon-grotesque", 'futura', 'gil sans', sans-serif;
    display: inline;
    position: relative;
    margin-left: 2em;
    line-height: 1; }
    .socialLinks a .icon {
      font-size: 2.5em;
      position: absolute;
      display: block;
      width: 1em;
      height: 1em;
      top: -0.25em;
      left: -1.2em;
      line-height: 1em;
      text-align: center;
      fill: #4d4d4d;
      -webkit-transition-property: fill;
              transition-property: fill;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s; }
    .socialLinks a:hover .icon {
      fill: #00b7c6; }

.archive {
  clear: both; }
  .archive li {
    padding: 0 0 0.4em 1em;
    text-indent: -1em; }
    .archive li a {
      font-family: "brandon-grotesque", 'futura', 'gil sans', sans-serif; }

.archiveItemTitle {
  font-family: "brandon-grotesque", 'futura', 'gil sans', sans-serif; }

.featured {
  position: relative;
  margin: 3em 0 0 0;
  padding: 6em 0 3em 0;
  text-align: left; }
  .featured::first-letter {
    font-size: 1.5em;
    color: #00b7c6; }
  .featured a:first-letter {
    font-size: 1.5em;
    color: #00b7c6;
    -webkit-transition: color, background;
            transition: color, background;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .featured a:hover:first-letter {
    color: #efeeeb;
    font-size: 1.5em; }
  .featured:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    content: "";
    width: 16rem;
    margin-left: -8rem;
    border-top: 0.1rem solid #4d4d4d; }
    @media (max-width: 570px) {
      .featured:after {
        width: 5em;
        margin-left: -2.5em; } }

.relatedPostsTitle {
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase; }

.relatedPostLi {
  font-weight: 700;
  margin: 1em 0 0 0; }

.popularPosts {
  margin: 3em 0; }

.popularPost {
  padding: 0 0 2em 0; }
  .popularPost a {
    font-family: "brandon-grotesque", 'futura', 'gil sans', sans-serif; }

.nav-button-prev {
  display: block;
  width: 30em;
  font-size: 1em;
  font-family: "brandon-grotesque", 'futura', 'gil sans', sans-serif;
  color: #efeeeb;
  line-height: 1;
  position: fixed;
  z-index: 3;
  top: 50%;
  margin-top: -3.5em;
  padding: 3em 2em;
  left: -28.5em;
  text-align: right;
  -webkit-transition: -webkit-transform;
          transition: transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s; }
  .nav-button-prev:after {
    position: absolute;
    display: block;
    content: "";
    width: 0.5em;
    height: 1em;
    top: 3em;
    background: #ffffff;
    border-radius: 0.5em 0 0 0.5em;
    right: 0; }
  .nav-button-prev:hover {
    -webkit-transform: translateX(20em);
        -ms-transform: translateX(20em);
            transform: translateX(20em); }
    .nav-button-prev:hover:after {
      background: #efeeeb; }

.nav-button-next {
  display: block;
  width: 30em;
  font-size: 1em;
  font-family: "brandon-grotesque", 'futura', 'gil sans', sans-serif;
  color: #efeeeb;
  line-height: 1;
  position: fixed;
  z-index: 3;
  top: 50%;
  margin-top: -3.5em;
  padding: 3em 2em;
  right: -28.5em;
  -webkit-transition: -webkit-transform;
          transition: transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s; }
  .nav-button-next:before {
    position: absolute;
    display: block;
    content: "";
    width: 0.5em;
    height: 1em;
    top: 3em;
    background: #ffffff;
    border-radius: 0 0.5em 0.5em 0;
    left: 0; }
  .nav-button-next:hover {
    -webkit-transform: translateX(-20em);
        -ms-transform: translateX(-20em);
            transform: translateX(-20em); }
    .nav-button-next:hover:before {
      background: #efeeeb; }

.nextTitle {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1rem;
  float: left;
  display: block;
  height: 2em; }

@media (max-width: 570px) {
  .nav-button-prev {
    position: static;
    width: 45%;
    padding: 1em 0;
    margin: 0;
    color: #4d4d4d;
    text-align: center;
    float: left; }
    .nav-button-prev:hover {
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
    .nav-button-prev:after {
      display: none; }
  .nav-button-next {
    position: static;
    width: 45%;
    padding: 1em 0;
    margin: 0;
    color: #4d4d4d;
    text-align: center;
    float: right; }
    .nav-button-next:hover {
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
    .nav-button-next:before {
      display: none; } }

.touch .nav-button-prev {
  position: static;
  width: 45%;
  padding: 1em 0;
  margin: 0;
  color: #4d4d4d;
  text-align: center;
  float: left; }
  .touch .nav-button-prev:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .touch .nav-button-prev:after {
    display: none; }
.touch .nav-button-next {
  position: static;
  width: 45%;
  padding: 1em 0;
  margin: 0;
  color: #4d4d4d;
  text-align: center;
  float: right; }
  .touch .nav-button-next:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .touch .nav-button-next:before {
    display: none; }

.big-drop-cap {
  font-weight: 400;
  font-family: "ff-tisa-web-pro", georgia, serif;
  font-style: italic;
  line-height: 1.5;
  padding-bottom: 1em; }

.runIn {
  color: #00b7c6;
  font-family: "brandon-grotesque", 'futura', 'gil sans', sans-serif;
  font-style: normal;
  margin-left: -1em;
  font-size: 1.2em; }
  .runIn.d, .runIn.g, .runIn.o, .runIn.r {
    margin-left: -1.5em; }
  .runIn.e, .runIn.f {
    margin-left: -0.7em; }
  .runIn.k, .runIn.n, .runIn.t, .runIn.x, .runIn.z, .runIn.h {
    margin-left: -0.5em; }
  .runIn.q {
    margin-left: -2em; }
  .runIn.l, .runIn.a {
    margin-left: -2.5em; }
  .runIn.u, .runIn.w {
    margin-left: 0; }
  .runIn.v {
    margin-left: -0.3em; }
  .runIn.y {
    margin-left: -0.2em; }
  @media (max-width: 570px) {
    .runIn {
      margin-left: 0 !important; } }

.dropcap {
  display: block;
  float: left;
  font-size: 12em;
  line-height: 0.7;
  font-weight: 700;
  color: #00b7c6;
  text-shadow: 0.05em 0.05em 0 #4d4d4d;
  padding: 0 0 0.1em 0;
  width: 0.8em; }
  .dropcap.r, .dropcap.t {
    width: 0.75em; }
  .dropcap.b, .dropcap.p, .dropcap.s, .dropcap.l {
    width: 0.7em; }
  .dropcap.e, .dropcap.f {
    width: 0.65em; }
  .dropcap.g, .dropcap.n, .dropcap.o {
    width: 0.9em; }
  .dropcap.h {
    width: 0.87em; }
  .dropcap.i {
    width: 0.5em; }
  .dropcap.j {
    width: 0.57em; }
  .dropcap.m {
    width: 1em; }
  .dropcap.q {
    width: 0.95em; }
  .dropcap.v, .dropcap.x {
    width: 0.85em; }
  .dropcap.w {
    width: 1.15em; }
  @media (max-width: 570px) {
    .dropcap {
      font-size: 5em; } }

blockquote {
  text-align: center;
  position: relative;
  font-style: italic;
  padding: 3em 0;
  margin: 3em 2em; }
  blockquote:before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    content: "";
    width: 16rem;
    margin-left: -8rem;
    border-top: 0.1rem solid #4d4d4d; }
    @media (max-width: 570px) {
      blockquote:before {
        width: 5em;
        margin-left: -2.5em; } }
  blockquote:after {
    position: absolute;
    top: 100%;
    left: 50%;
    content: "";
    width: 16rem;
    margin-left: -8rem;
    border-top: 0.1rem solid #4d4d4d; }
    @media (max-width: 570px) {
      blockquote:after {
        width: 5em;
        margin-left: -2.5em; } }
  blockquote .quoteRunIn {
    color: #00b7c6; }
  blockquote p::first-letter {
    font-size: 1em;
    line-height: 1em;
    color: inherit; }
  blockquote p:after {
    display: none; }

.archiveItem {
  margin: 0 0 1.5em 0; }

.archiveItemTitle {
  font-size: 1.2em;
  font-weight: 700; }

.portfolioEntry {
  padding-bottom: 3em; }

.portfolioH2 {
  padding: 0; }

.showcaseH1 {
  padding: 0;
  margin: 0; }
  .showcaseH1:after {
    display: none; }

.showcaseLink {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  position: relative; }
  .showcaseLink a {
    position: relative; }
    .showcaseLink a .icon {
      display: block;
      fill: #ceccc4;
      font-size: 2.5em;
      position: absolute;
      height: 0.5em;
      width: 0.7em;
      padding-right: 0.2em;
      top: 0;
      right: 100%; }

.showcaseHeader {
  position: relative;
  padding: 0 0 5rem 0;
  margin: 0 0 6rem 0; }
  .showcaseHeader:after {
    position: absolute;
    top: 100%;
    left: 50%;
    content: "";
    width: 16rem;
    margin-left: -8rem;
    border-top: 0.1rem solid #4d4d4d; }
    @media (max-width: 570px) {
      .showcaseHeader:after {
        width: 5em;
        margin-left: -2.5em; } }

.showcaseExcerpt {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center; }

.showcaseSlider {
  background: #4d4d4d;
  height: 20em;
  margin: 1em auto;
  -webkit-transition-property: width, border, border-radius, height;
          transition-property: width, border, border-radius, height;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  position: relative;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-shadow: #ceccc4 0 0.2em 0 0, #e6e4e0 0 0.4em 0 0, #aca79a -0.4em 0.8em 0 -0.2em;
          box-shadow: #ceccc4 0 0.2em 0 0, #e6e4e0 0 0.4em 0 0, #aca79a -0.4em 0.8em 0 -0.2em; }
  .showcaseSlider.desktop {
    width: 100%;
    border-top: #dad8d2 solid 1em;
    border-bottom: #dad8d2 solid 0.2em;
    border-radius: 0.5em 0.5em 0em 0em; }
    .showcaseSlider.desktop .desktopImg {
      opacity: 1;
      z-index: 1; }
    .showcaseSlider.desktop .tabletImg {
      opacity: 0;
      z-index: 0; }
    .showcaseSlider.desktop .phoneImg {
      opacity: 0;
      z-index: 0; }
    @media (max-width: 570px) {
      .showcaseSlider.desktop {
        height: 10em; } }
    .showcaseSlider.desktop:before {
      content: "";
      width: 0.5em;
      height: 0.5em;
      border-radius: 0.25em;
      background: #00b7c6;
      position: absolute;
      top: -0.75em;
      left: 0.5em; }
    .showcaseSlider.desktop:after {
      content: "";
      width: 0.5em;
      height: 0.5em;
      border-radius: 0.25em;
      background: #4d4d4d;
      position: absolute;
      top: -0.75em;
      left: 1.25em; }
    .showcaseSlider.desktop .showcaseAddons {
      position: absolute;
      top: -1.5rem;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 0.6em;
      font-family: "droid-sans-mono", monospace; }
      .showcaseSlider.desktop .showcaseAddons:before {
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 0.25rem;
        background: #efeeeb;
        position: absolute;
        top: 0.15rem;
        left: 2rem; }
  .showcaseSlider.tablet {
    width: 16em;
    max-width: 100%;
    border-top: #dad8d2 solid 1.3em;
    border-bottom: #dad8d2 solid 1.3em;
    border-radius: 0.8em; }
    .showcaseSlider.tablet .desktopImg {
      opacity: 0;
      z-index: 0; }
    .showcaseSlider.tablet .tabletImg {
      opacity: 1;
      z-index: 1; }
    .showcaseSlider.tablet .phoneImg {
      opacity: 0;
      z-index: 0; }
    .showcaseSlider.tablet:before {
      content: "";
      width: 0.5em;
      height: 0.5em;
      border-radius: 0.25em;
      border: #4d4d4d solid 0.2em;
      background: #ffffff;
      position: absolute;
      top: -0.75em;
      left: 50%;
      margin-left: -0.25em; }
    .showcaseSlider.tablet:after {
      content: "";
      width: 1em;
      height: 1em;
      position: absolute;
      bottom: -1.1em;
      left: 50%;
      margin-left: -0.5em;
      background: #dad8d2;
      border: #4d4d4d solid 0.2em;
      border-radius: 50%; }
    .showcaseSlider.tablet .showcaseAddons {
      display: none; }
  .showcaseSlider.phone {
    width: 12em;
    border-top: #dad8d2 solid 1.6em;
    border-bottom: #dad8d2 solid 1.6em;
    border-radius: 1em; }
    .showcaseSlider.phone .desktopImg {
      opacity: 0;
      z-index: 0; }
    .showcaseSlider.phone .tabletImg {
      opacity: 0;
      z-index: 0; }
    .showcaseSlider.phone .phoneImg {
      opacity: 1;
      z-index: 1; }
    .showcaseSlider.phone:before {
      content: "";
      width: 0.7em;
      height: 0.7em;
      border-radius: 0.35em;
      border: #4d4d4d solid 0.3em;
      background: #ffffff;
      position: absolute;
      top: -1.15em;
      left: 3em;
      z-index: 2; }
    .showcaseSlider.phone:after {
      content: "";
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      bottom: -1.4em;
      left: 50%;
      margin-left: -0.6em;
      background: #dad8d2;
      border: #4d4d4d solid 0.2em;
      border-radius: 50%; }
    .showcaseSlider.phone .showcaseAddons {
      position: absolute;
      top: -0.9rem;
      left: 0;
      width: 100%;
      z-index: 1;
      color: #dad8d2;
      font-size: 0; }
      .showcaseSlider.phone .showcaseAddons:before {
        content: "";
        width: 3rem;
        height: 0.2rem;
        border-radius: 0.25rem;
        background: #00b7c6;
        position: absolute;
        top: 0.3rem;
        left: 50%;
        margin-left: -1.5rem; }
      .showcaseSlider.phone .showcaseAddons:after {
        content: "";
        width: 2rem;
        height: 0.3rem;
        border-radius: 0.25rem;
        background: #4d4d4d;
        position: absolute;
        top: -0.2rem;
        left: 50%;
        margin-left: -1rem; }

.showcaseSlider .imgCropper {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative; }
  .showcaseSlider .imgCropper img {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    -webkit-transition-property: opacity;
            transition-property: opacity;
    -webkit-transition-duration: 1s;
            transition-duration: 1s; }

.showcaseControls {
  text-align: center;
  margin: 0 auto 6em; }
  .showcaseControls .showcaseControl {
    border: none;
    background: #dad8d2;
    color: #4d4d4d;
    font-family: "ff-tisa-web-pro", georgia, serif;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1em;
    padding: 0 1em;
    margin: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    -webkit-transition-property: background;
            transition-property: background;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none; }
    .showcaseControls .showcaseControl:focus {
      outline: none; }
    .showcaseControls .showcaseControl.selected {
      background: #00b7c6;
      color: #efeeeb; }
      .showcaseControls .showcaseControl.selected:hover {
        background: #00b7c6;
        color: #efeeeb; }
    .showcaseControls .showcaseControl:hover {
      background: #4d4d4d;
      color: #00b7c6; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

@media (max-width: 800px) {
  .extraSpaceOnMobile {
    display: inline-block;
    margin-top: 2em;
    margin-bottom: 2em; }
    .extraSpaceOnMobile a {
      padding: 0.5em; } }
