---
layout: default
title: "Portfolio"
excerpt: Inbetween sipping fine scotch and basking in the glory of my vinyl collection, I make websites. These are some of the best projects I've worked on lately. Click through to see them in action.
group: "navigation"
---

<h1>{{ page.title }}</h2>

{% for post in site.categories["showcase"] %}

  <section class="portfolioEntry">
    <h2 class="portfolioH2"><a href="{{post.url}}">{{post.title}}</a></h2>
      <span>{{post.excerpt}}</span>
  </section>

{% endfor %}

<!--section class="portfolioEntry">
  <h2 class="portfolioH2"><a href="http://atlanticbrewery.com">Atlantic Brewery</a></h2>
  <p class="portfolioP">A responisive e-commerce site for one Cornwall's best craft-beer brewers. <a href="http://atlanticbrewery.com/">Atlantic Brewery</a>’s home is an 18th century farmhouse situated just a few miles from the beautiful North Cornish coast near Newquay and the spectacular Atlantic ocean.</p>
</section>

<section class="portfolioEntry">
  <h2 class="portfolioH2"><a href="http://fairgrieveandhorner.com">Fairgrieve & Horner records</a></h2>
</section>

<section class="portfolioEntry">
  <h2 class="portfolioH2"><a href="/cassette-script/">“Cassette Script” typeface</a></h2>
  <p class="portfolioP">Remember the old C90 tapes? Here's my visual homage to the ubiquitous music format of my youth. Cassette Script is my first fully-functioning typeface.</p>
  <p>The demo page features a 100%-CSS illustration of an old tape, which I created specifically as a showcase for <a href ="/cassette-script/">Cassette Script</a>. The font itself is a quirky handwriting typeface with over 200 characters.</p>
</section>

<section class="portfolioEntry">
  <h2 class="portfolioH2"><a href="http://eatenbymonsters.com">Eaten by Monsters music blog</a></h2>
  <p class="portfolioP">Founded in 2008, <em><a href="http://eatenbymonsters.com/">Eaten by Monsters</a></em> has grown into an award-winning, taste-making, discourse-shaping powerhouse (albeit in a very specific niche). Writing EbM has opened the door to a host of opportunities; writing for Tom Robinson's <a href="http://freshonthenet.co.uk/how-to-reach-music-blogs/">Fresh On The Net</a> blog, learning all about web publishing the hard way, and (most importantly) getting me on the press-lists for all my favourite record labels.</p>
</section-->

{% include featured.html %}
