{% include head.html %}
{% include header.html %}

<div class="bodyWrapper clearfix">
    <section class="mainContent clearfix">

        <header class="showcaseHeader">
            {% if page.headerImage %}
                <img class="headerImage" src="/assets/images/{{ page.headerImage }}" alt="">
            {% endif %}
            <h1 class="showcaseH1">
                {% if page.pageTitle %}
                    {{ page.pageTitle }}
                {% else %}
                    {{ page.title }}
                {% endif %}
            </h1>
            {% if page.subheading %}
                <span class="showcaseExcerpt">{{page.subheading}}</span>
            {% endif %}
            <div class="textContent pageIntroSnippet">
                {{ content }}
            </div>
        </header>

        <section class="popularPosts">
            <ul>
                {% for post in site.categories["showcase"] %}
                    {% if post.featured %}
                        <li class="popularPost">
                            <a class="archiveItemTitle" href="{{post.url}}">{{post.title}}</a>
                            {% if post.summary %}
                                <span class="archiveItemExcerpt">{{post.summary}}</span>
                            {% else %}
                                {%if post.excerptlong %}
                                    <span class="archiveItemExcerpt">{{post.excerptlong}}</span>
                                {% else %}
                                    <span class="archiveItemExcerpt">{{post.excerpt}}</span>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>

        <section class="archive main-content">
            {% for post in site.categories["showcase"] %}
                {% if post.featured != true %}
                    <div class="archiveItem clearfix">
                        <a class="archiveItemTitle" href="{{post.url}}">{{post.title}}</a>
                        {% if post.excerptmini %}
                            <span class="archiveItemExcerpt">{{post.excerptmini}}</span>
                        {% else %}
                            <span class="archiveItemExcerpt">{{post.excerpt}}</span>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </section>

        {% include featured.html %}

        {% include sociallinks.html %}

    </div><!-- .mainContent -->
</div><!-- .bodyWrapper -->

{% include footer.html %}
