{% include head.html %}
{% include header.html %}

<div class="bodyWrapper clearfix">
    <section class="mainContent clearfix">

        <div class="textContent">
            
            <h1>{{ page.title }}</h2>
            
            {{content}}
        
        </div>

        <section class="popularPosts">
            <ul>
                {% for post in site.categories["showcase"] %}
                    {% if post.featured %}
                        <li class="popularPost">
                            <a class="archiveItemTitle" href="{{post.url}}">{{post.title}}</a>
                            {% if post.summary %}
                                <span class="archiveItemExcerpt">{{post.summary}}</span>
                            {% else %}
                                {%if post.excerptlong %}
                                    <span class="archiveItemExcerpt">{{post.excerptlong}}</span>
                                {% else %}
                                    <span class="archiveItemExcerpt">{{post.excerpt}}</span>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>

        <section class="archive main-content">
            {% for post in site.categories["showcase"] %}
                {% if post.featured != true %}
                    <div class="archiveItem clearfix">
                        <a class="archiveItemTitle" href="{{post.url}}">{{post.title}}</a>
                        {% if post.excerptmini %}
                            <span class="archiveItemExcerpt">{{post.excerptmini}}</span>
                        {% else %}
                            <span class="archiveItemExcerpt">{{post.excerpt}}</span>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </section>

        {% include featured.html %}

        {% include sociallinks.html %}

    </div><!-- .mainContent -->
</div><!-- .bodyWrapper -->

{% include footer.html %}
