---
layout: default
---

<article class="main-content">
  
    {% if page.featured_img %}
        <header class="post-header">
          <img class="featured-img" src="{{ site.url }}{{ page.featured_img }}"/>
          <h1><a href="{{page.url}}" class="responsive_headline">{{page.title}}</a></h1>
        </header>
    {% else %}
        <h1><a href="{{page.url}}">{{page.title}}</a></h1>
    {% endif %}
    
    <h2>{{page.excerpt}}</h2>
    {{content}}
    
    <nav class="nav-outer clearfix">
      {% if page.previous.url %}
        <a href="{{page.previous.url}}">
          <div class="nav-button older">
            <span class="nav-inner next">Older Article</span>
          </div><!-- .nav-button -->
        </a>
      {% endif %}

      {% if page.next.url %}
        <a href="{{page.next.url}}">
          <div class="nav-button newer">
            <span class="nav-inner next">Newer Article</span>
          </div><!-- .nav-button -->
        </a>
      {% endif %}

      <span class="page-number">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
    </nav>
    
    
    {% include archive.html %}
    <section class="comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'thomashazledine'; // required: replace example with your forum shortname
      
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </section>
    
</article>