{% include head.html %}
{% include header.html %}

<article class="main-content">

  <h1><a href="{{page.url}}">{{page.title}}</a></h1>

  <h3 class="big-drop-cap">{{page.excerpt}}</h3>

  {{content}}

  <span class="top-link"><a href="#top">Back to top</a></span>

</article>

<nav class="nav-outer clearfix">
  {% if page.previous.url %}
    <a href="{{page.previous.url}}" class="nav-button prev">Prev.</a>
  {% endif %}

  {% if page.next.url %}
    <a href="{{page.next.url}}" class="nav-button next">Next</a>
  {% endif %}
</nav>

{% include archive.html %}

{% include footer.html %}
