{% include head.html %}
{% include header.html %}

<div class="bodyWrapper clearfix">
    <section class="mainContent clearfix">

<article class="mainContentInner textContent">

    {% if page.logo %}
        <div class="showcaseLogo" style="background-image:url('/assets/images/{{ page.logo }}');"></div>
    {% endif %}

    {% if page.showcaselink %}
        <header class="showcaseHeader">
            <h1 class="showcaseH1">{{page.title}}</h1>
            <span class="showcaseLink">
                <a href="{{page.showcaselink}}">
                    <svg class="icon twitter">
                        <use xlink:href="#link"/>
                    </svg>
                    {% if page.showcaselinkshort %}
                        {{ page.showcaselinkshort }}
                    {% else %}
                        {{ page.showcaselink }}
                    {% endif %}
                </a>
            </span>
            <span class="showcaseExcerpt">{{page.excerpt}}</span>
        </header>
    {% else %}
        <h1>{{page.title}}</h1>
    {% endif %}


    {% if page.desktopimg or page.tabletimg or page.phoneimg %}
        {% include responsiveDemo.html %}
    {% endif %}

    <h3 class="big-drop-cap">{{page.excerptlong}}</h3>

    {% if page.thumbnailImages %}
        {% include thumbnailImages.html %}
    {% endif %}

    {{content}}

    
    <!-- {% include testResponsiveDemo.html %} -->

</article>

{% if page.comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'hazledine'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}

<nav class="nav-outer clearfix">
    {% if page.next_in_category.url %}
        <a href="{{ site.url }}{{page.next_in_category.url}}" class="nav-button-prev">{{page.next_in_category.title}}</a>
    {% endif %}

    {% if page.previous_in_category.url %}
        <a href="{{ site.url }}{{page.previous_in_category.url}}" class="nav-button-next">{{page.previous_in_category.title}}</a>
    {% endif %}
</nav>

{% include showcase-archive.html %}

<span class="top-link"><a href="#top">Back to top</a></span>

{% include sociallinks.html %}

    </div><!-- .mainContent -->
</div><!-- .bodyWrapper -->

{% include footer.html %}
